In [182]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [381]:
from __future__ import print_function

import datetime
import pandas as pd
import numpy as np
from dateutil import parser as dtparser

from utils.datafetch import *
from utils.vectorized_funs import *
from utils.datapipe import *
from utils.kerasutil import *
from utils import scenarioa
from FintechCapstone import FinCapstone

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA

In [382]:
%matplotlib inline

plt.style.use('seaborn-whitegrid')
date_from = '2009-01-01'
date_to = '2017-03-01'
timespan = {
    "short_term": [1, 5]
    ,"medium_term": [40]
    ,"long_term": [90]
}

#trial = FinCapstone(ticker_list=["GLW","HIMX","GLUU"], scenario="baseline",ticker_list_samplesize=4, timespan=timespan, date_from=date_from, reset_status=True)
trial = FinCapstone(ticker_list=["ZHNE","BSFT","AERO","MATR","ITMSF","FIT","TIPT","OLBK","QADA","ATTU","LGF","STX","TPCS","GSAT","ZNGA","GLW","HIMX","YHOO", "NWSA","JAKK","GLUU","AMZN", "AAPL", "EBAY", "GOOG", "NFLX", "EA", "TWTR", "FB", "TTWO", "PXLW", "UBI"], ticker_list_samplesize=4, timespan=timespan, date_from=date_from, reset_status=True)
#trial = FinCapstone(ticker_list_samplesize=200, timespan=timespan, timespan_ab=timespan_ab, date_from=date_from)

#trial.run_initial_dataload()
#trial.feature_engineering()
#trial.train(2, ticker="GLUU")
#trial.train(train_next=2)

In [385]:
trial.load_status_files()
trial.trialconfig_df

                                      value
property
train_until             2015-12-31 00:00:00
date_from                        2009-01-01
date_to                          2017-04-23
test_from               2016-01-01 00:00:00
train_from              2010-01-01 00:00:00
fetch_status                       COMPLETE
featureengineer_status             COMPLETE
model_name                   ExampleFintech
modeltrain_status                INCOMPLETE
scenario                           baseline

In [386]:
trial.load_status_files()
trial.fetchstatus_df

       status                       start                         end  msg
ticker
ZHNE       OK  2017-04-23 17:27:13.544160  2017-04-23 17:27:13.957863  NaN
BSFT       OK  2017-04-23 17:27:13.958272  2017-04-23 17:27:14.246105  NaN
AERO       OK  2017-04-23 17:27:14.246512  2017-04-23 17:27:14.826875  NaN
MATR       OK  2017-04-23 17:27:14.827282  2017-04-23 17:27:15.233946  NaN
ITMSF      OK  2017-04-23 17:27:15.234358  2017-04-23 17:27:15.494665  NaN
FIT        OK  2017-04-23 17:27:15.495074  2017-04-23 17:27:15.710839  NaN
TIPT       OK  2017-04-23 17:27:15.711247  2017-04-23 17:27:15.960566  NaN
OLBK       OK  2017-04-23 17:27:15.960969  2017-04-23 17:27:16.326963  NaN
QADA       OK  2017-04-23 17:27:16.327373  2017-04-23 17:27:16.605359  NaN
ATTU       OK  2017-04-23 17:27:16.605772  2017-04-23 17:27:17.105697  NaN
LGF        OK  2017-04-23 17:27:17.106114  2017-04-23 17:27:17.554360  NaN
STX        OK  2017-04-23 17:27:17.554770  2017-04-23 17:27:17.961720  NaN
TPCS       OK  2017-04-23 17:27:17.962128  2017-04-23 17:27:18.268042  NaN
GSAT       OK  2017-04-23 17:27:18.268627  2017-04-23 17:27:18.488884  NaN
ZNGA       OK  2017-04-23 17:27:18.489283  2017-04-23 17:27:18.734848  NaN
GLW        OK  2017-04-23 17:27:18.735250  2017-04-23 17:27:19.459188  NaN
HIMX       OK  2017-04-23 17:27:19.459598  2017-04-23 17:27:19.784981  NaN
YHOO       OK  2017-04-23 17:27:19.785389  2017-04-23 17:27:20.254384  NaN
NWSA       OK  2017-04-23 17:27:20.254838  2017-04-23 17:27:20.540638  NaN
JAKK       OK  2017-04-23 17:27:20.541047  2017-04-23 17:27:21.010768  NaN
GLUU       OK  2017-04-23 17:27:21.011230  2017-04-23 17:27:21.314830  NaN
AMZN       OK  2017-04-23 17:27:21.315249  2017-04-23 17:27:21.791517  NaN
AAPL       OK  2017-04-23 17:27:21.792005  2017-04-23 17:27:22.481468  NaN
EBAY       OK  2017-04-23 17:27:22.481880  2017-04-23 17:27:22.949120  NaN
GOOG       OK  2017-04-23 17:27:22.949530  2017-04-23 17:27:23.318951  NaN
NFLX       OK  2017-04-23 17:27:23.319409  2017-04-23 17:27:23.739129  NaN
EA         OK  2017-04-23 17:27:23.739588  2017-04-23 17:27:24.281710  NaN
TWTR       OK  2017-04-23 17:27:24.282161  2017-04-23 17:27:24.504304  NaN
FB         OK  2017-04-23 17:27:24.504712  2017-04-23 17:27:24.766044  NaN
TTWO       OK  2017-04-23 17:27:24.766453  2017-04-23 17:27:25.241771  NaN
PXLW       OK  2017-04-23 17:27:25.242186  2017-04-23 17:27:25.646321  NaN
UBI        OK  2017-04-23 17:27:25.646737  2017-04-23 17:27:25.889982  NaN

In [387]:
trial.load_status_files()
trial.featureengineer_status_df

       status                       start                         end  msg
ticker
ZHNE       OK  2017-04-23 17:27:43.961471  2017-04-23 17:27:44.060316  NaN
BSFT       OK  2017-04-23 17:27:44.061978  2017-04-23 17:27:44.153059  NaN
AERO       OK  2017-04-23 17:27:44.154013  2017-04-23 17:27:44.244960  NaN
MATR       OK  2017-04-23 17:27:44.245911  2017-04-23 17:27:44.351262  NaN
ITMSF      OK  2017-04-23 17:27:44.352240  2017-04-23 17:27:44.429902  NaN
FIT        OK  2017-04-23 17:27:44.430847  2017-04-23 17:27:44.475641  NaN
TIPT       OK  2017-04-23 17:27:44.476614  2017-04-23 17:27:44.559523  NaN
OLBK       OK  2017-04-23 17:27:44.560520  2017-04-23 17:27:44.663291  NaN
QADA       OK  2017-04-23 17:27:44.664268  2017-04-23 17:27:44.749431  NaN
ATTU       OK  2017-04-23 17:27:44.750389  2017-04-23 17:27:44.858439  NaN
LGF        OK  2017-04-23 17:27:44.859392  2017-04-23 17:27:44.968403  NaN
STX        OK  2017-04-23 17:27:44.969359  2017-04-23 17:27:45.080521  NaN
TPCS       OK  2017-04-23 17:27:45.081470  2017-04-23 17:27:45.173992  NaN
GSAT       OK  2017-04-23 17:27:45.174944  2017-04-23 17:27:45.229670  NaN
ZNGA       OK  2017-04-23 17:27:45.230630  2017-04-23 17:27:45.305269  NaN
GLW        OK  2017-04-23 17:27:45.306221  2017-04-23 17:27:45.419639  NaN
HIMX       OK  2017-04-23 17:27:45.420536  2017-04-23 17:27:45.513943  NaN
YHOO       OK  2017-04-23 17:27:45.514807  2017-04-23 17:27:45.617410  NaN
NWSA       OK  2017-04-23 17:27:45.618276  2017-04-23 17:27:45.675009  NaN
JAKK       OK  2017-04-23 17:27:45.675891  2017-04-23 17:27:45.836787  NaN
GLUU       OK  2017-04-23 17:27:45.837760  2017-04-23 17:27:45.930418  NaN
AMZN       OK  2017-04-23 17:27:45.931309  2017-04-23 17:27:46.038908  NaN
AAPL       OK  2017-04-23 17:27:46.039824  2017-04-23 17:27:46.151387  NaN
EBAY       OK  2017-04-23 17:27:46.152275  2017-04-23 17:27:46.254287  NaN
GOOG       OK  2017-04-23 17:27:46.255159  2017-04-23 17:27:46.356691  NaN
NFLX       OK  2017-04-23 17:27:46.357565  2017-04-23 17:27:46.457308  NaN
EA         OK  2017-04-23 17:27:46.458178  2017-04-23 17:27:46.564398  NaN
TWTR       OK  2017-04-23 17:27:46.565261  2017-04-23 17:27:46.618914  NaN
FB         OK  2017-04-23 17:27:46.619802  2017-04-23 17:27:46.684964  NaN
TTWO       OK  2017-04-23 17:27:46.685828  2017-04-23 17:27:46.786980  NaN
PXLW       OK  2017-04-23 17:27:46.787864  2017-04-23 17:27:46.885571  NaN
UBI        OK  2017-04-23 17:27:46.886436  2017-04-23 17:27:46.920672  NaN

In [399]:
trial.load_status_files()
trial.train_status_df

,epochs,status,start,end,msg,loss
ticker,,,,,,
ZHNE,1,OK,2017-04-23 17:28:33.589186,2017-04-23 17:28:49.209039,NaN,NaN
BSFT,1,OK,2017-04-23 17:34:38.257746,2017-04-23 17:34:51.741883,NaN,NaN
AERO,1,OK,2017-04-23 17:34:55.783435,2017-04-23 17:35:10.680832,NaN,NaN
MATR,1,OK,2017-04-23 17:35:14.871049,2017-04-23 17:35:29.524447,NaN,NaN
ITMSF,1,OK,2017-04-23 17:35:33.833516,2017-04-23 17:35:48.109071,NaN,NaN
FIT,1,OK,2017-04-23 17:36:06.679207,2017-04-23 17:36:11.056935,NaN,NaN
TIPT,1,OK,2017-04-23 17:36:15.216511,2017-04-23 17:36:28.478221,NaN,NaN
OLBK,1,OK,2017-04-23 17:36:32.675719,2017-04-23 17:36:47.170938,NaN,NaN
QADA,0,INCOMPLETE,NaN,NaN,NaN,NaN
ATTU,0,INCOMPLETE,NaN,NaN,NaN,NaN
LGF,0,INCOMPLETE,NaN,NaN,NaN,NaN
STX,0,INCOMPLETE,NaN,NaN,NaN,NaN
TPCS,0,INCOMPLETE,NaN,NaN,NaN,NaN
GSAT,0,INCOMPLETE,NaN,NaN,NaN,NaN
ZNGA,0,INCOMPLETE,NaN,NaN,NaN,NaN
GLW,0,INCOMPLETE,NaN,NaN,NaN,NaN
HIMX,0,INCOMPLETE,NaN,NaN,NaN,NaN
YHOO,0,INCOMPLETE,NaN,NaN,NaN,NaN
NWSA,0,INCOMPLETE,NaN,NaN,NaN,NaN
JAKK,0,INCOMPLETE,NaN,NaN,NaN,NaN
GLUU,0,INCOMPLETE,NaN,NaN,NaN,NaN
AMZN,0,INCOMPLETE,NaN,NaN,NaN,NaN
AAPL,0,INCOMPLETE,NaN,NaN,NaN,NaN
EBAY,0,INCOMPLETE,NaN,NaN,NaN,NaN
GOOG,0,INCOMPLETE,NaN,NaN,NaN,NaN
NFLX,0,INCOMPLETE,NaN,NaN,NaN,NaN
EA,0,INCOMPLETE,NaN,NaN,NaN,NaN
TWTR,0,INCOMPLETE,NaN,NaN,NaN,NaN
FB,0,INCOMPLETE,NaN,NaN,NaN,NaN
TTWO,0,INCOMPLETE,NaN,NaN,NaN,NaN
PXLW,0,INCOMPLETE,NaN,NaN,NaN,NaN
UBI,0,INCOMPLETE,NaN,NaN,NaN,NaN

In [377]:
trial.load_status_files()
trial.train_status_df

        epochs      status  start  end  msg  loss
ticker
ZHNE         0  INCOMPLETE    NaN  NaN  NaN   NaN
BSFT         0  INCOMPLETE    NaN  NaN  NaN   NaN
AERO         0  INCOMPLETE    NaN  NaN  NaN   NaN
MATR         0  INCOMPLETE    NaN  NaN  NaN   NaN
ITMSF        0  INCOMPLETE    NaN  NaN  NaN   NaN
FIT          0  INCOMPLETE    NaN  NaN  NaN   NaN
TIPT         0  INCOMPLETE    NaN  NaN  NaN   NaN
OLBK         0  INCOMPLETE    NaN  NaN  NaN   NaN
QADA         0  INCOMPLETE    NaN  NaN  NaN   NaN
ATTU         0  INCOMPLETE    NaN  NaN  NaN   NaN
LGF          0  INCOMPLETE    NaN  NaN  NaN   NaN
STX          0  INCOMPLETE    NaN  NaN  NaN   NaN
TPCS         0  INCOMPLETE    NaN  NaN  NaN   NaN
GSAT         0  INCOMPLETE    NaN  NaN  NaN   NaN
ZNGA         0  INCOMPLETE    NaN  NaN  NaN   NaN
GLW          0  INCOMPLETE    NaN  NaN  NaN   NaN
HIMX         0  INCOMPLETE    NaN  NaN  NaN   NaN
YHOO         0  INCOMPLETE    NaN  NaN  NaN   NaN
NWSA         0  INCOMPLETE    NaN  NaN  NaN   NaN
JAKK         0  INCOMPLETE    NaN  NaN  NaN   NaN
GLUU         0  INCOMPLETE    NaN  NaN  NaN   NaN
AMZN         0  INCOMPLETE    NaN  NaN  NaN   NaN
AAPL         0  INCOMPLETE    NaN  NaN  NaN   NaN
EBAY         0  INCOMPLETE    NaN  NaN  NaN   NaN
GOOG         0  INCOMPLETE    NaN  NaN  NaN   NaN
NFLX         0  INCOMPLETE    NaN  NaN  NaN   NaN
EA           0  INCOMPLETE    NaN  NaN  NaN   NaN
TWTR         0  INCOMPLETE    NaN  NaN  NaN   NaN
FB           0  INCOMPLETE    NaN  NaN  NaN   NaN
TTWO         0  INCOMPLETE    NaN  NaN  NaN   NaN
PXLW         0  INCOMPLETE    NaN  NaN  NaN   NaN
UBI          0  INCOMPLETE    NaN  NaN  NaN   NaN