In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from __future__ import print_function

import datetime
import pandas as pd
import numpy as np
from dateutil import parser as dtparser

from utils.datafetch import *
from utils.vectorized_funs import *
from utils.datapipe import *
from utils.kerasutil import *
from utils import scenarioa
from FintechCapstone import FinCapstone

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA

pd.options.display.max_rows = 200

Using TensorFlow backend.

In [3]:
%matplotlib inline

plt.style.use('seaborn-whitegrid')
date_from = '2009-01-01'
date_to = '2017-03-01'
timespan = {
    "short_term": [1, 5]
    ,"medium_term": [40]
    ,"long_term": [90]
}

#trial = FinCapstone(ticker_list=["GLW","HIMX","GLUU"], scenario="baseline",ticker_list_samplesize=4, timespan=timespan, date_from=date_from, reset_status=False)
#trial = FinCapstone(ticker_list=["ZHNE","BSFT","AERO","MATR","ITMSF","FIT","TIPT","OLBK","QADA","ATTU","LGF","STX","TPCS","GSAT","ZNGA","GLW","HIMX","YHOO", "NWSA","JAKK","GLUU","AMZN", "AAPL", "EBAY", "GOOG", "NFLX", "DIS", "EA", "TWTR", "FB", "TTWO", "PXLW", "UBI"], scenario="scenarioa", ticker_list_samplesize=4, timespan=timespan, date_from=date_from, reset_status=False)
trial = FinCapstone(ticker_list_samplesize=200, timespan=timespan, date_from=date_from, reset_status=False)

#trial.run_initial_dataload()
#trial.feature_engineering()
#trial.train(2, ticker="GLUU")
#trial.train(train_next=2)

nasdaq has 3188 tickers.


Final dataset has 3188 records
(OK) Final dataset has 3188 distinct tickers

In [4]:
trial.load_status_files()
trial.trialconfig_df

                                      value
property
train_from              2010-01-01 00:00:00
test_from               2016-01-01 00:00:00
train_until             2015-12-31 00:00:00
date_to                          2017-04-28
featureengineer_status             COMPLETE
date_from                        2009-01-01
model_name                   ExampleFintech
modeltrain_status                INCOMPLETE
fetch_status                       COMPLETE
modeleval_status                 INCOMPLETE
scenario                          scenariob

In [9]:
trial.load_status_files()
trial.fetchstatus_df

       status                       start                         end  msg
ticker
ZHNE       OK  2017-04-28 23:02:42.227401  2017-04-28 23:02:42.997787  NaN
BSFT       OK  2017-04-28 23:02:42.998213  2017-04-28 23:02:43.338203  NaN
AERO       OK  2017-04-28 23:02:43.338634  2017-04-28 23:02:43.691240  NaN
MATR       OK  2017-04-28 23:02:43.691660  2017-04-28 23:02:44.185895  NaN
ITMSF      OK  2017-04-28 23:02:44.186315  2017-04-28 23:02:44.501840  NaN
FIT        OK  2017-04-28 23:02:44.502253  2017-04-28 23:02:44.732817  NaN
TIPT       OK  2017-04-28 23:02:44.733224  2017-04-28 23:02:45.045450  NaN
OLBK       OK  2017-04-28 23:02:45.045858  2017-04-28 23:02:45.714054  NaN
QADA       OK  2017-04-28 23:02:45.714473  2017-04-28 23:02:46.046080  NaN
ATTU       OK  2017-04-28 23:02:46.046491  2017-04-28 23:02:46.610772  NaN
LGF        OK  2017-04-28 23:02:46.611193  2017-04-28 23:02:47.106402  NaN
STX        OK  2017-04-28 23:02:47.106822  2017-04-28 23:02:47.586640  NaN
TPCS       OK  2017-04-28 23:02:47.587057  2017-04-28 23:02:47.933527  NaN
GSAT       OK  2017-04-28 23:02:47.933945  2017-04-28 23:02:48.174197  NaN
ZNGA       OK  2017-04-28 23:02:48.174618  2017-04-28 23:02:48.461706  NaN
GLW        OK  2017-04-28 23:02:48.462246  2017-04-28 23:02:49.248541  NaN
HIMX       OK  2017-04-28 23:02:49.248985  2017-04-28 23:02:49.633452  NaN
YHOO       OK  2017-04-28 23:02:49.633894  2017-04-28 23:02:50.193820  NaN
NWSA       OK  2017-04-28 23:02:50.194245  2017-04-28 23:02:50.476609  NaN
JAKK       OK  2017-04-28 23:02:50.477021  2017-04-28 23:02:51.033918  NaN
GLUU       OK  2017-04-28 23:02:51.034339  2017-04-28 23:02:51.407849  NaN
AMZN       OK  2017-04-28 23:02:51.408389  2017-04-28 23:02:52.138630  NaN
AAPL       OK  2017-04-28 23:02:52.139049  2017-04-28 23:02:52.898833  NaN
EBAY       OK  2017-04-28 23:02:52.899257  2017-04-28 23:02:53.416831  NaN
GOOG       OK  2017-04-28 23:02:53.417304  2017-04-28 23:02:53.921357  NaN
DIS        OK  2017-04-28 23:02:53.921902  2017-04-28 23:02:54.960282  NaN
NFLX       OK  2017-04-28 23:02:54.960709  2017-04-28 23:02:55.458212  NaN
EA         OK  2017-04-28 23:02:55.458642  2017-04-28 23:02:56.078360  NaN
TWTR       OK  2017-04-28 23:02:56.078907  2017-04-28 23:02:56.366632  NaN
FB         OK  2017-04-28 23:02:56.367058  2017-04-28 23:02:56.655860  NaN
TTWO       OK  2017-04-28 23:02:56.656283  2017-04-28 23:02:57.192146  NaN
PXLW       OK  2017-04-28 23:02:57.192626  2017-04-28 23:02:57.698446  NaN
UBI        OK  2017-04-28 23:02:57.698874  2017-04-28 23:02:57.946108  NaN

In [10]:
trial.load_status_files()
trial.featureengineer_status_df

       status                       start                         end  msg
ticker
ZHNE       OK  2017-04-28 23:02:58.023875  2017-04-28 23:03:00.234664  NaN
BSFT       OK  2017-04-28 23:03:00.236131  2017-04-28 23:03:02.055645  NaN
AERO       OK  2017-04-28 23:03:02.057160  2017-04-28 23:03:04.478880  NaN
MATR       OK  2017-04-28 23:03:04.480389  2017-04-28 23:03:06.710387  NaN
ITMSF      OK  2017-04-28 23:03:06.712012  2017-04-28 23:03:08.729937  NaN
FIT        OK  2017-04-28 23:03:08.731499  2017-04-28 23:03:09.365612  NaN
TIPT       OK  2017-04-28 23:03:09.367161  2017-04-28 23:03:11.138295  NaN
OLBK       OK  2017-04-28 23:03:11.139747  2017-04-28 23:03:13.514049  NaN
QADA       OK  2017-04-28 23:03:13.515526  2017-04-28 23:03:15.227989  NaN
ATTU       OK  2017-04-28 23:03:15.229564  2017-04-28 23:03:17.723568  NaN
LGF        OK  2017-04-28 23:03:17.725205  2017-04-28 23:03:19.997633  NaN
STX        OK  2017-04-28 23:03:19.999095  2017-04-28 23:03:22.409584  NaN
TPCS       OK  2017-04-28 23:03:22.411220  2017-04-28 23:03:24.809399  NaN
GSAT       OK  2017-04-28 23:03:24.810964  2017-04-28 23:03:25.773669  NaN
ZNGA       OK  2017-04-28 23:03:25.775240  2017-04-28 23:03:27.415965  NaN
GLW        OK  2017-04-28 23:03:27.418146  2017-04-28 23:03:29.932173  NaN
HIMX       OK  2017-04-28 23:03:29.933761  2017-04-28 23:03:32.347796  NaN
YHOO       OK  2017-04-28 23:03:32.349701  2017-04-28 23:03:34.817529  NaN
NWSA       OK  2017-04-28 23:03:34.819082  2017-04-28 23:03:36.022014  NaN
JAKK       OK  2017-04-28 23:03:36.023590  2017-04-28 23:03:38.478693  NaN
GLUU       OK  2017-04-28 23:03:38.480201  2017-04-28 23:03:40.710618  NaN
AMZN       OK  2017-04-28 23:03:40.712412  2017-04-28 23:03:43.079316  NaN
AAPL       OK  2017-04-28 23:03:43.080940  2017-04-28 23:03:45.292418  NaN
EBAY       OK  2017-04-28 23:03:45.293869  2017-04-28 23:03:47.508069  NaN
GOOG       OK  2017-04-28 23:03:47.509518  2017-04-28 23:03:49.686637  NaN
DIS        OK  2017-04-28 23:03:49.688564  2017-04-28 23:03:52.135976  NaN
NFLX       OK  2017-04-28 23:03:52.137581  2017-04-28 23:03:54.331250  NaN
EA         OK  2017-04-28 23:03:54.332761  2017-04-28 23:03:56.699233  NaN
TWTR       OK  2017-04-28 23:03:56.700848  2017-04-28 23:03:57.774284  NaN
FB         OK  2017-04-28 23:03:57.775904  2017-04-28 23:03:59.142616  NaN
TTWO       OK  2017-04-28 23:03:59.144085  2017-04-28 23:04:01.340846  NaN
PXLW       OK  2017-04-28 23:04:01.342473  2017-04-28 23:04:03.562966  NaN
UBI        OK  2017-04-28 23:04:03.564616  2017-04-28 23:04:04.188083  NaN

In [19]:
trial.load_status_files()
trial.train_status_df.loc["MATR"]["msg"]

'Error when checking model target: expected dense_16 to have shape (None, 132) but got array with shape (1518, 0)'

In [11]:
trial.load_status_files()
trial.eval_status_df

        epochs      status  start  end  r_squared  accuracy  msg
ticker
ZHNE         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
BSFT         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
AERO         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
MATR         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
ITMSF        0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
FIT          0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
TIPT         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
OLBK         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
QADA         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
ATTU         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
LGF          0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
STX          0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
TPCS         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
GSAT         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
ZNGA         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
GLW          0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
HIMX         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
YHOO         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
NWSA         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
JAKK         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
GLUU         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
AMZN         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
AAPL         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
EBAY         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
GOOG         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
DIS          0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
NFLX         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
EA           0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
TWTR         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
FB           0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
TTWO         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
PXLW         0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN
UBI          0  INCOMPLETE    NaN  NaN        NaN       NaN  NaN