In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from __future__ import print_function

import datetime
import pandas as pd
import numpy as np
from dateutil import parser as dtparser

from utils.datafetch import *
from utils.vectorized_funs import *
from utils.datapipe import *
from utils.kerasutil import *
from utils import scenarioa
from FintechCapstone import FinCapstone

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA

pd.options.display.max_rows = 200

Using TensorFlow backend.

In [4]:
%matplotlib inline

plt.style.use('seaborn-whitegrid')
date_from = '2009-01-01'
date_to = '2017-03-01'
timespan = {
    "short_term": [1, 5]
    ,"medium_term": [40]
    ,"long_term": [90]
}

#trial = FinCapstone(ticker_list=["GLW","HIMX","GLUU"], scenario="baseline",ticker_list_samplesize=4, timespan=timespan, date_from=date_from, reset_status=True)
#trial = FinCapstone(ticker_list=["ZHNE","BSFT","AERO","MATR","ITMSF","FIT","TIPT","OLBK","QADA","ATTU","LGF","STX","TPCS","GSAT","ZNGA","GLW","HIMX","YHOO", "NWSA","JAKK","GLUU","AMZN", "AAPL", "EBAY", "GOOG", "NFLX", "DIS", "EA", "TWTR", "FB", "TTWO", "PXLW", "UBI"], scenario="scenarioa", ticker_list_samplesize=4, timespan=timespan, date_from=date_from, reset_status=False)
trial = FinCapstone(ticker_list_samplesize=200, timespan=timespan, date_from=date_from, reset_status=False)

#trial.run_initial_dataload()
#trial.feature_engineering()
#trial.train(2, ticker="GLUU")
#trial.train(train_next=2)

nasdaq has 3188 tickers.


Final dataset has 3188 records
(OK) Final dataset has 3188 distinct tickers

In [14]:
trial.load_status_files()
trial.trialconfig_df

                                      value
property
modeltrain_status                INCOMPLETE
train_from              2010-01-01 00:00:00
date_from                        2009-01-01
model_name                   ExampleFintech
fetch_status                       COMPLETE
train_until             2015-12-31 00:00:00
featureengineer_status             COMPLETE
scenario                          scenarioa
date_to                          2017-04-24
test_from               2016-01-01 00:00:00

In [15]:
trial.load_status_files()
trial.fetchstatus_df

       status                       start                         end  msg
ticker
ZHNE       OK  2017-04-24 20:58:24.530373  2017-04-24 20:58:25.466899  NaN
BSFT       OK  2017-04-24 20:58:25.467144  2017-04-24 20:58:26.145516  NaN
AERO       OK  2017-04-24 20:58:26.145754  2017-04-24 20:58:26.886313  NaN
MATR       OK  2017-04-24 20:58:26.886503  2017-04-24 20:58:27.705158  NaN
ITMSF      OK  2017-04-24 20:58:27.705357  2017-04-24 20:58:28.355940  NaN
FIT        OK  2017-04-24 20:58:28.356141  2017-04-24 20:58:28.904200  NaN
TIPT       OK  2017-04-24 20:58:28.904354  2017-04-24 20:58:29.559743  NaN
OLBK       OK  2017-04-24 20:58:29.559930  2017-04-24 20:58:30.316092  NaN
QADA       OK  2017-04-24 20:58:30.316255  2017-04-24 20:58:31.000677  NaN
ATTU       OK  2017-04-24 20:58:31.000813  2017-04-24 20:58:31.861071  NaN
LGF        OK  2017-04-24 20:58:31.861258  2017-04-24 20:58:32.692472  NaN
STX        OK  2017-04-24 20:58:32.692613  2017-04-24 20:58:33.623065  NaN
TPCS       OK  2017-04-24 20:58:33.623209  2017-04-24 20:58:34.313358  NaN
GSAT       OK  2017-04-24 20:58:34.313524  2017-04-24 20:58:34.877530  NaN
ZNGA       OK  2017-04-24 20:58:34.877858  2017-04-24 20:58:35.546233  NaN
GLW        OK  2017-04-24 20:58:35.546451  2017-04-24 20:58:37.145121  NaN
HIMX       OK  2017-04-24 20:58:37.145318  2017-04-24 20:58:37.903408  NaN
YHOO       OK  2017-04-24 20:58:37.903559  2017-04-24 20:58:38.795225  NaN
NWSA       OK  2017-04-24 20:58:38.795394  2017-04-24 20:58:39.390508  NaN
JAKK       OK  2017-04-24 20:58:39.390736  2017-04-24 20:58:40.230538  NaN
GLUU       OK  2017-04-24 20:58:40.230730  2017-04-24 20:58:40.953732  NaN
AMZN       OK  2017-04-24 20:58:40.953899  2017-04-24 20:58:42.125608  NaN
AAPL       OK  2017-04-24 20:58:42.125891  2017-04-24 20:58:43.741213  NaN
EBAY       OK  2017-04-24 20:58:43.741425  2017-04-24 20:58:44.674786  NaN
GOOG       OK  2017-04-24 20:58:44.674970  2017-04-24 20:58:45.522242  NaN
NFLX       OK  2017-04-24 20:58:45.522435  2017-04-24 20:58:46.367699  NaN
DIS        OK  2017-04-24 20:58:46.367971  2017-04-24 20:58:48.488991  NaN
EA         OK  2017-04-24 20:58:48.489216  2017-04-24 20:58:49.706072  NaN
TWTR       OK  2017-04-24 20:58:49.706268  2017-04-24 20:58:50.278573  NaN
FB         OK  2017-04-24 20:58:50.278744  2017-04-24 20:58:50.927006  NaN
TTWO       OK  2017-04-24 20:58:50.927226  2017-04-24 20:58:51.825055  NaN
PXLW       OK  2017-04-24 20:58:51.825221  2017-04-24 20:58:52.657974  NaN
UBI        OK  2017-04-24 20:58:52.658142  2017-04-24 20:58:53.348904  NaN

In [16]:
trial.load_status_files()
trial.featureengineer_status_df

       status                       start                         end  msg
ticker
ZHNE       OK  2017-04-24 20:59:01.861652  2017-04-24 20:59:02.532268  NaN
BSFT       OK  2017-04-24 20:59:02.532838  2017-04-24 20:59:03.118727  NaN
AERO       OK  2017-04-24 20:59:03.119043  2017-04-24 20:59:03.822721  NaN
MATR       OK  2017-04-24 20:59:03.823040  2017-04-24 20:59:04.529505  NaN
ITMSF      OK  2017-04-24 20:59:04.529821  2017-04-24 20:59:05.135515  NaN
FIT        OK  2017-04-24 20:59:05.135863  2017-04-24 20:59:05.319001  NaN
TIPT       OK  2017-04-24 20:59:05.319312  2017-04-24 20:59:05.878083  NaN
OLBK       OK  2017-04-24 20:59:05.878404  2017-04-24 20:59:06.579244  NaN
QADA       OK  2017-04-24 20:59:06.579563  2017-04-24 20:59:07.124802  NaN
ATTU       OK  2017-04-24 20:59:07.125127  2017-04-24 20:59:07.828324  NaN
LGF        OK  2017-04-24 20:59:07.828643  2017-04-24 20:59:08.502358  NaN
STX        OK  2017-04-24 20:59:08.502674  2017-04-24 20:59:09.209350  NaN
TPCS       OK  2017-04-24 20:59:09.209670  2017-04-24 20:59:09.906673  NaN
GSAT       OK  2017-04-24 20:59:09.906993  2017-04-24 20:59:10.186550  NaN
ZNGA       OK  2017-04-24 20:59:10.186869  2017-04-24 20:59:10.647555  NaN
GLW        OK  2017-04-24 20:59:10.647912  2017-04-24 20:59:11.386514  NaN
HIMX       OK  2017-04-24 20:59:11.386835  2017-04-24 20:59:12.125191  NaN
YHOO       OK  2017-04-24 20:59:12.125518  2017-04-24 20:59:12.853941  NaN
NWSA       OK  2017-04-24 20:59:12.854259  2017-04-24 20:59:13.198477  NaN
JAKK       OK  2017-04-24 20:59:13.198795  2017-04-24 20:59:13.900771  NaN
GLUU       OK  2017-04-24 20:59:13.901090  2017-04-24 20:59:14.601322  NaN
AMZN       OK  2017-04-24 20:59:14.601650  2017-04-24 20:59:15.309538  NaN
AAPL       OK  2017-04-24 20:59:15.309855  2017-04-24 20:59:16.046271  NaN
EBAY       OK  2017-04-24 20:59:16.046589  2017-04-24 20:59:16.747349  NaN
GOOG       OK  2017-04-24 20:59:16.747666  2017-04-24 20:59:17.447000  NaN
NFLX       OK  2017-04-24 20:59:17.447317  2017-04-24 20:59:18.148855  NaN
DIS        OK  2017-04-24 20:59:18.149177  2017-04-24 20:59:18.861610  NaN
EA         OK  2017-04-24 20:59:18.861927  2017-04-24 20:59:19.563542  NaN
TWTR       OK  2017-04-24 20:59:19.563891  2017-04-24 20:59:19.875434  NaN
FB         OK  2017-04-24 20:59:19.875810  2017-04-24 20:59:20.303822  NaN
TTWO       OK  2017-04-24 20:59:20.304139  2017-04-24 20:59:21.004568  NaN
PXLW       OK  2017-04-24 20:59:21.004887  2017-04-24 20:59:21.702336  NaN
UBI        OK  2017-04-24 20:59:21.702654  2017-04-24 20:59:21.879209  NaN

In [36]:
trial.load_status_files()
trial.train_status_df

,epochs,status,start,end,msg,loss
ticker,,,,,,
ZHNE,2,OK,2017-04-24 20:59:30.451909,2017-04-24 21:00:29.783334,NaN,NaN
BSFT,2,OK,2017-04-24 21:00:29.785410,2017-04-24 21:01:21.217777,NaN,NaN
AERO,2,OK,2017-04-24 21:04:53.761770,2017-04-24 21:05:50.055403,NaN,NaN
MATR,2,OK,2017-04-24 21:06:25.795270,2017-04-24 21:07:22.006838,NaN,NaN
ITMSF,2,OK,2017-04-24 21:07:24.355018,2017-04-24 21:08:19.044351,NaN,NaN
FIT,2,OK,2017-04-24 21:08:21.366049,2017-04-24 21:08:43.753665,NaN,NaN
TIPT,2,OK,2017-04-24 21:08:46.095365,2017-04-24 21:09:35.058987,NaN,NaN
OLBK,2,OK,2017-04-24 21:09:37.411947,2017-04-24 21:10:33.510191,NaN,NaN
QADA,2,OK,2017-04-24 21:10:35.837567,2017-04-24 21:11:25.925147,NaN,NaN
ATTU,2,OK,2017-04-24 21:11:28.247632,2017-04-24 21:12:24.417795,NaN,NaN
LGF,2,OK,2017-04-24 21:12:26.740858,2017-04-24 21:13:21.443921,NaN,NaN
STX,2,OK,2017-04-24 21:13:23.785986,2017-04-24 21:14:18.498271,NaN,NaN
TPCS,2,OK,2017-04-24 21:14:20.786022,2017-04-24 21:15:15.582563,NaN,NaN
GSAT,2,OK,2017-04-24 21:15:17.930237,2017-04-24 21:15:47.757710,NaN,NaN
ZNGA,2,OK,2017-04-24 21:15:50.130927,2017-04-24 21:16:32.917853,NaN,NaN
GLW,2,OK,2017-04-24 21:16:35.270987,2017-04-24 21:17:31.391699,NaN,NaN
HIMX,2,OK,2017-04-24 21:17:33.780015,2017-04-24 21:18:30.084151,NaN,NaN
YHOO,2,OK,2017-04-24 21:18:32.436177,2017-04-24 21:19:28.476339,NaN,NaN
NWSA,2,OK,2017-04-24 21:19:30.794636,2017-04-24 21:20:04.816876,NaN,NaN
JAKK,2,OK,2017-04-24 21:20:07.151221,2017-04-24 21:21:03.247123,NaN,NaN
GLUU,2,OK,2017-04-24 21:21:05.669590,2017-04-24 21:22:00.396331,NaN,NaN
AMZN,2,OK,2017-04-24 21:22:02.709621,2017-04-24 21:22:57.410411,NaN,NaN
AAPL,2,OK,2017-04-24 21:22:59.751965,2017-04-24 21:23:54.680572,NaN,NaN
EBAY,2,OK,2017-04-24 21:38:23.279618,2017-04-24 21:39:21.090144,NaN,NaN
GOOG,2,OK,2017-04-24 21:39:23.435049,2017-04-24 21:40:19.541323,NaN,NaN
NFLX,2,OK,2017-04-24 21:40:21.866923,2017-04-24 21:41:18.082783,NaN,NaN
DIS,2,OK,2017-04-24 21:41:20.398156,2017-04-24 21:42:16.530871,NaN,NaN
EA,2,OK,2017-04-24 21:42:18.804447,2017-04-24 21:43:14.618249,NaN,NaN
TWTR,2,OK,2017-04-24 21:43:16.967920,2017-04-24 21:43:48.242642,NaN,NaN
FB,2,OK,2017-04-24 21:43:50.597416,2017-04-24 21:44:30.584161,NaN,NaN
TTWO,2,OK,2017-04-24 21:44:32.884219,2017-04-24 21:45:28.782689,NaN,NaN
PXLW,2,OK,2017-04-24 21:45:31.081813,2017-04-24 21:46:27.209476,NaN,NaN
UBI,2,OK,2017-04-24 21:46:29.559493,2017-04-24 21:46:55.500228,NaN,NaN