In [38]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [39]:
from __future__ import print_function

import datetime
import pandas as pd
import numpy as np
from dateutil import parser as dtparser

from utils.datafetch import *
from utils.vectorized_funs import *
from utils.datapipe import *
from utils.kerasutil import *
from utils import scenarioa
from FintechCapstone import FinCapstone

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA

pd.options.display.max_rows = 200

In [65]:
%matplotlib inline

plt.style.use('seaborn-whitegrid')
date_from = '2009-01-01'
date_to = '2017-03-01'
timespan = {
    "short_term": [1, 5]
    ,"medium_term": [40]
    ,"long_term": [90]
}

trial = FinCapstone(ticker_list=["GLW","HIMX","GLUU"], scenario="baseline",ticker_list_samplesize=4, timespan=timespan, date_from=date_from, reset_status=False)
#trial = FinCapstone(ticker_list=["ZHNE","BSFT","AERO","MATR","ITMSF","FIT","TIPT","OLBK","QADA","ATTU","LGF","STX","TPCS","GSAT","ZNGA","GLW","HIMX","YHOO", "NWSA","JAKK","GLUU","AMZN", "AAPL", "EBAY", "GOOG", "NFLX", "DIS", "EA", "TWTR", "FB", "TTWO", "PXLW", "UBI"], scenario="scenarioa", ticker_list_samplesize=4, timespan=timespan, date_from=date_from, reset_status=False)
#trial = FinCapstone(ticker_list_samplesize=200, timespan=timespan, date_from=date_from, reset_status=False)

#trial.run_initial_dataload()
#trial.feature_engineering()
#trial.train(2, ticker="GLUU")
#trial.train(train_next=2)

In [70]:
trial.load_status_files()
trial.trialconfig_df

                                      value
property
fetch_status                       COMPLETE
scenario                           baseline
train_from              2010-01-01 00:00:00
modeltrain_status                INCOMPLETE
modeleval_status                 INCOMPLETE
featureengineer_status             COMPLETE
date_from                        2009-01-01
date_to                          2017-04-25
train_until             2015-12-31 00:00:00
test_from               2016-01-01 00:00:00
model_name                   ExampleFintech

In [71]:
trial.load_status_files()
trial.fetchstatus_df

       status                       start                         end  msg
ticker
ZHNE       OK  2017-04-25 23:17:26.147574  2017-04-25 23:17:26.912874  NaN
BSFT       OK  2017-04-25 23:17:26.913035  2017-04-25 23:17:27.606282  NaN
AERO       OK  2017-04-25 23:17:27.606447  2017-04-25 23:17:28.291993  NaN
MATR       OK  2017-04-25 23:17:28.292140  2017-04-25 23:17:29.138038  NaN
ITMSF      OK  2017-04-25 23:17:29.138208  2017-04-25 23:17:29.811736  NaN
FIT        OK  2017-04-25 23:17:29.811925  2017-04-25 23:17:30.370453  NaN
TIPT       OK  2017-04-25 23:17:30.370884  2017-04-25 23:17:31.105175  NaN
OLBK       OK  2017-04-25 23:17:31.105370  2017-04-25 23:17:31.861095  NaN
QADA       OK  2017-04-25 23:17:31.861278  2017-04-25 23:17:32.563169  NaN
ATTU       OK  2017-04-25 23:17:32.563357  2017-04-25 23:17:33.413751  NaN
LGF        OK  2017-04-25 23:17:33.413978  2017-04-25 23:17:34.273096  NaN
STX        OK  2017-04-25 23:17:34.273278  2017-04-25 23:17:35.113264  NaN
TPCS       OK  2017-04-25 23:17:35.113477  2017-04-25 23:17:35.835627  NaN
GSAT       OK  2017-04-25 23:17:35.835776  2017-04-25 23:17:36.466535  NaN
ZNGA       OK  2017-04-25 23:17:36.466863  2017-04-25 23:17:37.044335  NaN
GLW        OK  2017-04-25 23:17:37.044539  2017-04-25 23:17:38.672261  NaN
HIMX       OK  2017-04-25 23:17:38.672497  2017-04-25 23:17:39.427177  NaN
YHOO       OK  2017-04-25 23:17:39.427386  2017-04-25 23:17:40.340184  NaN
NWSA       OK  2017-04-25 23:17:40.340438  2017-04-25 23:17:40.959971  NaN
JAKK       OK  2017-04-25 23:17:40.960163  2017-04-25 23:17:41.845038  NaN
GLUU       OK  2017-04-25 23:17:41.845246  2017-04-25 23:17:42.619697  NaN
AMZN       OK  2017-04-25 23:17:42.619851  2017-04-25 23:17:43.506590  NaN
AAPL       OK  2017-04-25 23:17:43.506787  2017-04-25 23:17:45.252722  NaN
EBAY       OK  2017-04-25 23:17:45.252908  2017-04-25 23:17:46.138336  NaN
GOOG       OK  2017-04-25 23:17:46.138536  2017-04-25 23:17:46.992461  NaN
NFLX       OK  2017-04-25 23:17:46.992673  2017-04-25 23:17:47.823575  NaN
DIS        OK  2017-04-25 23:17:47.823808  2017-04-25 23:17:50.135709  NaN
EA         OK  2017-04-25 23:17:50.135957  2017-04-25 23:17:51.053630  NaN
TWTR       OK  2017-04-25 23:17:51.053827  2017-04-25 23:17:51.692187  NaN
FB         OK  2017-04-25 23:17:51.692451  2017-04-25 23:17:52.361731  NaN
TTWO       OK  2017-04-25 23:17:52.361922  2017-04-25 23:17:53.248559  NaN
PXLW       OK  2017-04-25 23:17:53.248728  2017-04-25 23:17:54.040448  NaN
UBI        OK  2017-04-25 23:17:54.040630  2017-04-25 23:17:54.593495  NaN

In [72]:
trial.load_status_files()
trial.featureengineer_status_df

       status                       start                         end  msg
ticker
ZHNE       OK  2017-04-25 23:17:54.611761  2017-04-25 23:17:54.650976  NaN
BSFT       OK  2017-04-25 23:17:54.651539  2017-04-25 23:17:54.684386  NaN
AERO       OK  2017-04-25 23:17:54.684699  2017-04-25 23:17:54.717765  NaN
MATR       OK  2017-04-25 23:17:54.718080  2017-04-25 23:17:54.756473  NaN
ITMSF      OK  2017-04-25 23:17:54.756786  2017-04-25 23:17:54.785961  NaN
FIT        OK  2017-04-25 23:17:54.786278  2017-04-25 23:17:54.802543  NaN
TIPT       OK  2017-04-25 23:17:54.802853  2017-04-25 23:17:54.832971  NaN
OLBK       OK  2017-04-25 23:17:54.833281  2017-04-25 23:17:54.872642  NaN
QADA       OK  2017-04-25 23:17:54.872952  2017-04-25 23:17:54.905461  NaN
ATTU       OK  2017-04-25 23:17:54.905777  2017-04-25 23:17:54.944968  NaN
LGF        OK  2017-04-25 23:17:54.945287  2017-04-25 23:17:54.983533  NaN
STX        OK  2017-04-25 23:17:54.983907  2017-04-25 23:17:55.022713  NaN
TPCS       OK  2017-04-25 23:17:55.023025  2017-04-25 23:17:55.056919  NaN
GSAT       OK  2017-04-25 23:17:55.057236  2017-04-25 23:17:55.076783  NaN
ZNGA       OK  2017-04-25 23:17:55.077092  2017-04-25 23:17:55.104799  NaN
GLW        OK  2017-04-25 23:17:55.105113  2017-04-25 23:17:55.148496  NaN
HIMX       OK  2017-04-25 23:17:55.148811  2017-04-25 23:17:55.188546  NaN
YHOO       OK  2017-04-25 23:17:55.188868  2017-04-25 23:17:55.228952  NaN
NWSA       OK  2017-04-25 23:17:55.229270  2017-04-25 23:17:55.251953  NaN
JAKK       OK  2017-04-25 23:17:55.252266  2017-04-25 23:17:55.294423  NaN
GLUU       OK  2017-04-25 23:17:55.294753  2017-04-25 23:17:55.333519  NaN
AMZN       OK  2017-04-25 23:17:55.333833  2017-04-25 23:17:55.374755  NaN
AAPL       OK  2017-04-25 23:17:55.375071  2017-04-25 23:17:55.418846  NaN
EBAY       OK  2017-04-25 23:17:55.419162  2017-04-25 23:17:55.460675  NaN
GOOG       OK  2017-04-25 23:17:55.460991  2017-04-25 23:17:55.500141  NaN
NFLX       OK  2017-04-25 23:17:55.500459  2017-04-25 23:17:55.539319  NaN
DIS        OK  2017-04-25 23:17:55.539634  2017-04-25 23:17:55.595875  NaN
EA         OK  2017-04-25 23:17:55.596191  2017-04-25 23:17:55.639048  NaN
TWTR       OK  2017-04-25 23:17:55.639371  2017-04-25 23:17:55.660847  NaN
FB         OK  2017-04-25 23:17:55.661160  2017-04-25 23:17:55.687490  NaN
TTWO       OK  2017-04-25 23:17:55.687849  2017-04-25 23:17:55.727480  NaN
PXLW       OK  2017-04-25 23:17:55.727829  2017-04-25 23:17:55.766201  NaN
UBI        OK  2017-04-25 23:17:55.766514  2017-04-25 23:17:55.779990  NaN

In [127]:
trial.load_status_files()
trial.train_status_df

,epochs,status,start,end,msg,loss
ticker,,,,,,
ZHNE,2,OK,2017-04-25 23:18:04.170577,2017-04-25 23:18:06.476285,NaN,NaN
BSFT,2,OK,2017-04-25 23:18:21.456379,2017-04-25 23:18:23.458374,NaN,NaN
AERO,2,OK,2017-04-25 23:18:25.564140,2017-04-25 23:18:27.651663,NaN,NaN
MATR,2,OK,2017-04-25 23:18:29.759582,2017-04-25 23:18:31.798235,NaN,NaN
ITMSF,2,OK,2017-04-25 23:18:33.906558,2017-04-25 23:18:36.288253,NaN,NaN
FIT,2,OK,2017-04-25 23:18:38.374485,2017-04-25 23:18:40.042524,NaN,NaN
TIPT,2,OK,2017-04-25 23:18:42.182772,2017-04-25 23:18:44.201161,NaN,NaN
OLBK,2,OK,2017-04-25 23:18:46.288592,2017-04-25 23:18:48.396263,NaN,NaN
QADA,2,OK,2017-04-25 23:18:50.507229,2017-04-25 23:18:52.479435,NaN,NaN
ATTU,2,OK,2017-04-25 23:18:54.564888,2017-04-25 23:18:56.584476,NaN,NaN
LGF,2,OK,2017-04-25 23:18:58.658512,2017-04-25 23:19:00.659338,NaN,NaN
STX,2,OK,2017-04-25 23:19:02.828825,2017-04-25 23:19:04.842514,NaN,NaN
TPCS,2,OK,2017-04-25 23:19:06.969673,2017-04-25 23:19:08.975576,NaN,NaN
GSAT,2,OK,2017-04-25 23:19:11.078948,2017-04-25 23:19:12.812292,NaN,NaN
ZNGA,2,OK,2017-04-25 23:19:14.911407,2017-04-25 23:19:16.804193,NaN,NaN
GLW,2,OK,2017-04-25 23:19:18.893465,2017-04-25 23:19:20.928703,NaN,NaN
HIMX,2,OK,2017-04-25 23:19:23.040960,2017-04-25 23:19:25.299836,NaN,NaN
YHOO,2,OK,2017-04-25 23:19:27.387844,2017-04-25 23:19:29.428401,NaN,NaN
NWSA,2,OK,2017-04-25 23:19:31.518007,2017-04-25 23:19:33.305575,NaN,NaN
JAKK,2,OK,2017-04-25 23:19:35.427284,2017-04-25 23:19:37.463515,NaN,NaN
GLUU,2,OK,2017-04-25 23:19:39.560571,2017-04-25 23:19:41.571831,NaN,NaN
AMZN,2,OK,2017-04-25 23:19:43.721308,2017-04-25 23:19:45.770446,NaN,NaN
AAPL,2,OK,2017-04-25 23:19:47.868817,2017-04-25 23:19:49.896909,NaN,NaN
EBAY,2,OK,2017-04-25 23:19:51.984558,2017-04-25 23:19:53.995821,NaN,NaN
GOOG,2,OK,2017-04-25 23:19:56.147413,2017-04-25 23:19:58.218261,NaN,NaN
NFLX,2,OK,2017-04-25 23:20:00.353356,2017-04-25 23:20:02.374937,NaN,NaN
DIS,2,OK,2017-04-25 23:20:04.477043,2017-04-25 23:20:06.492742,NaN,NaN
EA,2,OK,2017-04-25 23:20:08.592701,2017-04-25 23:20:10.608265,NaN,NaN
TWTR,2,OK,2017-04-25 23:20:12.726268,2017-04-25 23:20:14.561750,NaN,NaN
FB,2,OK,2017-04-25 23:20:16.736271,2017-04-25 23:20:18.595482,NaN,NaN
TTWO,2,OK,2017-04-25 23:20:20.681151,2017-04-25 23:20:22.706249,NaN,NaN
PXLW,2,OK,2017-04-25 23:20:24.841276,2017-04-25 23:20:26.860193,NaN,NaN
UBI,2,OK,2017-04-25 23:20:29.004495,2017-04-25 23:20:31.071633,NaN,NaN

In [135]:
trial.load_status_files()
trial.eval_status_df

,epochs,status,start,end,r_squared,accuracy,msg
ticker,,,,,,,
ZHNE,2,OK,2017-04-25 23:20:46.345314,2017-04-25 23:20:47.562452,-6.977096,0.017241,NaN
BSFT,2,OK,2017-04-25 23:22:05.840479,2017-04-25 23:22:07.027845,-0.516040,0.142857,NaN
AERO,2,OK,2017-04-25 23:22:07.028600,2017-04-25 23:22:07.143808,-0.236191,0.145897,NaN
MATR,2,OK,2017-04-25 23:22:23.505583,2017-04-25 23:22:24.648287,-1.665298,0.033435,NaN
ITMSF,2,OK,2017-04-25 23:22:24.649024,2017-04-25 23:22:24.763327,-2021.589566,0.148936,NaN
FIT,2,OK,2017-04-25 23:22:42.743187,2017-04-25 23:22:43.916400,-1.051623,0.303951,NaN
TIPT,2,OK,2017-04-25 23:22:43.917137,2017-04-25 23:22:44.031511,-0.012505,0.082067,NaN
OLBK,2,OK,2017-04-25 23:22:44.032251,2017-04-25 23:22:44.148437,-1.420834,0.121581,NaN
QADA,2,OK,2017-04-25 23:22:44.149196,2017-04-25 23:22:44.263103,-0.071588,0.088146,NaN
ATTU,2,OK,2017-04-25 23:22:44.263826,2017-04-25 23:22:44.378457,-0.082153,0.075988,NaN
LGF,2,OK,2017-04-25 23:22:44.379187,2017-04-25 23:22:44.485533,-1.171327,0.042194,NaN
STX,2,OK,2017-04-25 23:22:44.486285,2017-04-25 23:22:44.601489,-0.032782,0.194529,NaN
TPCS,2,OK,2017-04-25 23:22:44.602244,2017-04-25 23:22:44.718316,-2634.786515,0.097264,NaN
GSAT,2,OK,2017-04-25 23:22:44.719031,2017-04-25 23:22:44.830517,-0.218738,0.139818,NaN
ZNGA,2,OK,2017-04-25 23:22:44.831244,2017-04-25 23:22:44.944525,-0.189924,0.112462,NaN
GLW,2,OK,2017-04-25 23:22:44.945269,2017-04-25 23:22:45.058793,-0.634948,0.288754,NaN
HIMX,2,OK,2017-04-25 23:22:45.059523,2017-04-25 23:22:45.175279,-0.753645,0.057751,NaN
YHOO,2,OK,2017-04-25 23:22:45.176031,2017-04-25 23:22:45.290832,-0.198139,0.103343,NaN
NWSA,2,OK,2017-04-25 23:22:45.291553,2017-04-25 23:22:45.403603,-0.510779,0.069909,NaN
JAKK,2,OK,2017-04-25 23:22:45.404344,2017-04-25 23:22:45.520814,-0.114631,0.091185,NaN
GLUU,2,OK,2017-04-25 23:22:45.521542,2017-04-25 23:22:45.636669,-1.080797,0.060790,NaN
AMZN,2,OK,2017-04-25 23:22:45.637420,2017-04-25 23:22:45.752351,-0.046750,0.097264,NaN
AAPL,2,OK,2017-04-25 23:22:45.753095,2017-04-25 23:22:45.866179,-0.074783,0.091185,NaN
EBAY,2,OK,2017-04-25 23:22:45.866909,2017-04-25 23:22:45.981615,-0.038564,0.142857,NaN
GOOG,2,OK,2017-04-25 23:22:45.982338,2017-04-25 23:22:46.095970,-0.140557,0.075988,NaN
NFLX,2,OK,2017-04-25 23:22:46.096725,2017-04-25 23:22:46.212398,-0.250278,0.085106,NaN
DIS,2,OK,2017-04-25 23:22:46.213109,2017-04-25 23:22:46.325303,-0.241757,0.145897,NaN
EA,2,OK,2017-04-25 23:22:46.326062,2017-04-25 23:22:46.442368,-0.090984,0.066869,NaN
TWTR,2,OK,2017-04-25 23:22:46.443097,2017-04-25 23:22:46.555367,-2.196052,0.133739,NaN
FB,2,OK,2017-04-25 23:22:46.556118,2017-04-25 23:22:46.671447,-1.453706,0.167173,NaN
TTWO,2,OK,2017-04-25 23:23:31.050698,2017-04-25 23:23:32.225507,-0.351641,0.106383,NaN
PXLW,2,OK,2017-04-25 23:23:32.226235,2017-04-25 23:23:32.340281,-0.622294,0.045593,NaN
UBI,2,OK,2017-04-25 23:23:32.341061,2017-04-25 23:23:32.440564,-0.567556,0.076531,NaN