In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import datetime
import pandas as pd
import numpy as np
from functools import partial
from dateutil import parser as dtparser

from utils.datafetch import *
from utils.vectorized_funs import *
from utils.datapipe import *
from utils.kerasutil import *
from FintechCapstone import FinCapstone

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

#%matplotlib inline

Using TensorFlow backend.

In [3]:
date_from = '2009-01-01'
date_to = '2017-03-01'
timespan = {
    "short_term": [1, 5]
    ,"medium_term": [40]
    ,"long_term": [90]
}

timespan_ab = {
    "short_term": []
    ,"medium_term": [30]
    ,"long_term": []
}

#trial = FinCapstone(ticker_list=["AAPL", "GOOG", "DIS", "NFLX", "EA", "TWTR"], ticker_list_samplesize=4, timespan=timespan, timespan_ab=timespan_ab, date_from=date_from)
trial = FinCapstone(ticker_list_samplesize=1, timespan=timespan, timespan_ab=timespan_ab, date_from=date_from)

nasdaq has 3188 tickers.


Final dataset has 3188 records
(OK) Final dataset has 3188 distinct tickers

In [4]:
trial.run_initial_dataload()

(1/1) Recv. and Stored PIH
Took 0:00:00.390836

In [5]:
trial.feature_engineering(feature_set="baseline")

 - PIH -

| | START     - 2017-04-16 01:08:21.370002
 V  END       - 2017-04-16 01:08:21.383005 (TOOK 0:00:00.013003)
| | START     - 2017-04-16 01:08:21.397716
\ / RETURNS - 0:00:00.029389
 V  END       - 2017-04-16 01:08:21.427156 (TOOK 0:00:00.029440)

In [6]:
trial.load_baseline_features("NFLX").head()

,Date,timewindow_return_1_Open,timewindow_return_1_High,timewindow_return_1_Low,timewindow_return_1_Volume
0,2009-01-02,1.000000e-128,1.000000e-128,1.000000e-128,1.000000e-128
1,2009-01-05,2.608394e-02,4.721311e-02,2.448976e-02,9.748834e-01
2,2009-01-06,6.107633e-02,4.101440e-02,6.673317e-02,-7.502012e-02
3,2009-01-07,2.706907e-02,-3.308241e-03,-4.046063e-03,-1.601207e-01
4,2009-01-08,-2.059988e-02,1.327701e-02,-1.875000e-02,-1.932721e-01

In [7]:
trial.load_baseline_labels("NFLX").head()

,Date,timewindow_return_90_Close,timewindow_return_1_Close,timewindow_return_5_Close,timewindow_return_40_Close
0,2009-01-02,0.260462,0.069300,0.080013,0.217275
1,2009-01-05,0.160927,0.031309,-0.022855,0.180651
2,2009-01-06,0.168792,-0.006982,-0.060716,0.150577
3,2009-01-07,0.185264,0.013452,-0.096912,0.167227
4,2009-01-08,0.195475,-0.026848,-0.046154,0.161388

In [ ]:
trial.load_train_eval_baseline()

| | START     - 2017-04-16 01:08:27.113196
\ / 0/1 - PIH - 0:00:00.003973
Epoch 1/100
256/443 [================>.............] - ETA: 4s - loss: 0.0090