In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import datetime
import pandas as pd
import numpy as np
from functools import partial

from utils.datafetch import *
from utils.vectorized_funs import *
from utils.datapipe import *

> We'll need some way of loading our possible tickets.

> We'll have some information for AMEX, NASDAQ and NYSE on one csv each in the config folder

In [4]:
rr = load_exchangesinfos()

amex has 400 tickers.
nasdaq has 3081 tickers.
nyse has 3299 tickers.


Final dataset has 6780 records
(NOK) Final dataset has duplicate tickers (6779 distinct)


> We'll look into the duplicate tickers when applicable

In [5]:
_r = duplicate_tickers(rr, ign_exchange=True)
_r

,Symbol,Name,MarketCap,Sector,Industry,exchange,ignoring_exchange
2716,MSG,The Madison Square Garden Company,5.837670e+09,Consumer Services,Television Services,nasdaq,False
2922,MSG,The Madison Square Garden Company,5.837670e+09,Consumer Services,Television Services,nyse,True

> in this case the ticker is the same company appearing in two exchanges, so we'll drop one of them

In [6]:
rr = rr.drop([2922])

In [7]:
## this time this should be empty...

duplicate_tickers(rr, ign_exchange=True)

Empty DataFrame
Columns: [Symbol, Name, MarketCap, Sector, Industry, exchange, ignoring_exchange]
Index: []

> lets have a look at your datareader wrapper

In [8]:
fetch_quotes("AMZN", from_date=datetime.datetime(2016,12,1))

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2016-12-01,752.409973,753.369995,738.030029,743.650024,4666000,743.650024
2016-12-02,743.400024,748.489990,736.700012,740.340027,3561300,740.340027
2016-12-05,745.000000,761.489990,742.000000,759.359985,4314700,759.359985
2016-12-06,763.989990,768.239990,757.250000,764.719971,3794700,764.719971
2016-12-07,764.549988,770.419983,755.820007,770.419983,3684900,770.419983
2016-12-08,771.869995,773.789978,765.190002,767.330017,3189600,767.330017
2016-12-09,770.000000,770.250000,765.340027,768.659973,2470900,768.659973
2016-12-12,766.400024,766.890015,757.200012,760.119995,2963900,760.119995
2016-12-13,764.960022,782.460022,762.000000,774.340027,5285300,774.340027
2016-12-14,778.250000,780.859985,762.809998,768.820007,5454800,768.820007
2016-12-15,766.280029,769.099976,760.309998,761.000000,3801900,761.000000
2016-12-16,765.000000,765.130005,754.000000,757.770020,4848200,757.770020
2016-12-19,758.890015,770.500000,756.159973,766.000000,3113200,766.000000
2016-12-20,768.650024,774.390015,767.710022,771.219971,2703600,771.219971
2016-12-21,770.000000,771.219971,765.700012,770.599976,2044600,770.599976
2016-12-22,768.119995,771.210022,763.020020,766.340027,2543600,766.340027
2016-12-23,764.549988,766.500000,757.989990,760.590027,1981600,760.590027
2016-12-27,763.400024,774.650024,761.200012,771.400024,2638700,771.400024
2016-12-28,776.250000,780.000000,770.500000,772.130005,3301000,772.130005
2016-12-29,772.400024,773.400024,760.849976,765.150024,3158300,765.150024
2016-12-30,766.469971,767.400024,748.280029,749.869995,4139400,749.869995
2017-01-03,757.919983,758.760010,747.700012,753.669983,3521100,753.669983
2017-01-04,758.390015,759.679993,754.200012,757.179993,2510500,757.179993
2017-01-05,761.549988,782.400024,760.260010,780.450012,5830100,780.450012
2017-01-06,782.359985,799.440002,778.479980,795.989990,5986200,795.989990
2017-01-09,798.000000,801.770020,791.770020,796.919983,3440100,796.919983
2017-01-10,796.599976,798.000000,789.539978,795.900024,2558400,795.900024
2017-01-11,793.659973,799.500000,789.510010,799.020020,2992800,799.020020
2017-01-12,800.309998,814.130005,799.500000,813.640015,4873900,813.640015
2017-01-13,814.320007,821.650024,811.400024,817.140015,3791900,817.140015
...,...,...,...,...,...,...
2017-02-01,829.210022,833.780029,824.940002,832.349976,3797000,832.349976
2017-02-02,836.590027,842.489990,828.260010,839.950012,6541700,839.950012
2017-02-03,806.719971,818.299988,804.000000,810.200012,10838900,810.200012
2017-02-06,809.799988,810.719971,803.000000,807.640015,3808200,807.640015
2017-02-07,809.309998,816.159973,807.500000,812.500000,3461500,812.500000
2017-02-08,812.690002,821.479980,812.500000,819.710022,2848300,819.710022
2017-02-09,821.599976,825.000000,819.710022,821.359985,2468400,821.359985
2017-02-10,823.820007,828.000000,822.849976,827.460022,2425800,827.460022
2017-02-13,831.619995,843.000000,828.549988,836.530029,4156500,836.530029
2017-02-14,837.000000,838.309998,831.450012,836.390015,2787900,836.390015
2017-02-15,834.000000,842.809998,832.820007,842.700012,2950600,842.700012
2017-02-16,841.840027,845.000000,839.380005,844.140015,2708100,844.140015
2017-02-17,842.000000,847.270020,840.729980,845.070007,3029800,845.070007
2017-02-21,848.840027,857.979980,847.250000,856.440002,3490100,856.440002
2017-02-22,856.950012,858.429993,852.179993,855.609985,2613400,855.609985
2017-02-23,857.570007,860.859985,848.000000,852.190002,3454600,852.190002
2017-02-24,844.690002,845.809998,837.750000,845.239990,3676400,845.239990
2017-02-27,842.380005,852.500000,839.669983,848.640015,2702300,848.640015
2017-02-28,851.450012,854.090027,842.049988,845.039978,2777700,845.039978
2017-03-01,853.049988,854.830017,849.010010,853.080017,2752000,853.080017
2017-03-02,853.080017,854.820007,847.280029,848.909973,2129200,848.909973
2017-03-03,847.200012,851.989990,846.270020,849.880005,1941100,849.880005
2017-03-06,845.229980,848.489990,841.119995,846.609985,2598400,846.609985
2017-03-07,845.479980,848.460022,843.750000,846.020020,2217800,846.020020
2017-03-08,848.000000,853.070007,846.789978,850.500000,2286500,850.500000
2017-03-09,851.000000,856.400024,850.309998,853.000000,2040600,853.000000
2017-03-10,857.000000,857.349976,851.719971,852.460022,2422000,852.460022
2017-03-13,851.770020,855.690002,851.710022,854.590027,1906100,854.590027
2017-03-14,853.549988,853.750000,847.549988,852.530029,2128700,852.530029
2017-03-15,854.330017,854.450012,847.109985,852.969971,2556700,852.969971

> Lets see how we could prepare an initial data load

In [11]:
tkrs = dict()
errs = dict()
itr = None

for tkr in rr.iloc[0:5]["Symbol"].values.tolist():
    itr = fetch_quotes(tkr)
    if itr is None:
        errs[tkr] = itr
        print("ERROR for {}".format(tkr))
    else:
        tkrs[tkr] = itr
        print("Received {}".format(tkr))

Received XXII
Received FAX
Received IAF
Received CH
ERROR for ABE

In [9]:
_r = initial_dataload(["AAPL", "TWTR", "XXII"])

(1/3) Recv. and Stored AAPL
(2/3) Recv. and Stored TWTR
(3/3) Recv. and Stored XXII
Took 0:00:00.882025

> lets try with the ticker dataframe now

In [11]:
OKs = ["OK" for x in _r["OK"]]
NOKs = ["NOK" for x in _r["NOK"]]

o = pd.DataFrame([OKs, _r["OK"]]).T
n = pd.DataFrame([NOKs, _r["NOK"]]).T

d = pd.concat([o, n], axis=0)
d.columns = ["STATUS", "Symbol"]
d.to_csv("RES_initial_dataload.csv", index=False)

d

  STATUS Symbol
0     OK   AAPL
1     OK   TWTR
2     OK   XXII

In [13]:
ticker_list = rr.iloc[0:100]["Symbol"].values
#ticker_list = rr["Symbol"].values
_r = initial_dataload(ticker_list, verbose=True, del_temp=True)
ticker_list

(1/100) Recv. and Stored XXII
(2/100) Recv. and Stored FAX
(3/100) Recv. and Stored IAF
(4/100) Recv. and Stored CH
(5/100) ERROR receiving ABE
(6/100) Recv. and Stored FCO
(7/100) Recv. and Stored IF
(8/100) Recv. and Stored ISL
(9/100) Recv. and Stored ACU
(10/100) Recv. and Stored AIII
(11/100) Recv. and Stored ATNM
(12/100) Recv. and Stored AE
(13/100) Recv. and Stored ADK
(14/100) ERROR receiving ADK^A
(15/100) Recv. and Stored ACY
(16/100) Recv. and Stored WGA
(17/100) Recv. and Stored AIRI
(18/100) ERROR receiving AA^
(19/100) ERROR receiving AXX
(20/100) Recv. and Stored AXU
(21/100) Recv. and Stored AAU
(22/100) Recv. and Stored APT
(23/100) ERROR receiving ALTV
(24/100) Recv. and Stored AAMC
(25/100) Recv. and Stored DIT
(26/100) ERROR receiving APP
(27/100) Recv. and Stored ADGE
(28/100) Recv. and Stored ALN
(29/100) Recv. and Stored AMS
(30/100) Recv. and Stored AMPE
(31/100) Recv. and Stored AXN
(32/100) Recv. and Stored AMCO
(33/100) Recv. and Stored HRT
(34/100) Recv. and Stored AKG
(35/100) Recv. and Stored AINC
(36/100) ERROR receiving ASB.WS
(37/100) Recv. and Stored AST
(38/100) Recv. and Stored AWX
(39/100) ERROR receiving AVL
(40/100) Recv. and Stored ASM
(41/100) Recv. and Stored BTG
(42/100) Recv. and Stored BTN
(43/100) Recv. and Stored BKJ
(44/100) Recv. and Stored BCV
(45/100) Recv. and Stored BAA
(46/100) Recv. and Stored BHB
(47/100) Recv. and Stored BRN
(48/100) ERROR receiving BIR^A
(49/100) Recv. and Stored BGSF
(50/100) Recv. and Stored BPMX
(51/100) Recv. and Stored BTX
(52/100) ERROR receiving BTX.WS
(53/100) Recv. and Stored BGI
(54/100) Recv. and Stored BZM
(55/100) Recv. and Stored MHE
(56/100) Recv. and Stored BLE
(57/100) Recv. and Stored BLJ
(58/100) Recv. and Stored BFY
(59/100) Recv. and Stored BHV
(60/100) Recv. and Stored BDR
(61/100) Recv. and Stored BRG
(62/100) Recv. and Stored BVX
(63/100) ERROR receiving BWL.A
(64/100) ERROR receiving BZC
(65/100) Recv. and Stored BTI
(66/100) Recv. and Stored CANF
(67/100) Recv. and Stored ROX
(68/100) Recv. and Stored CAW
(69/100) Recv. and Stored CVM
(70/100) ERROR receiving CVM.WS
(71/100) Recv. and Stored CEF
(72/100) ERROR receiving GTU
(73/100) Recv. and Stored CET
(74/100) Recv. and Stored LEU
(75/100) Recv. and Stored CCF
(76/100) Recv. and Stored CQH
(77/100) Recv. and Stored CQP
(78/100) Recv. and Stored LNG
(79/100) Recv. and Stored CVR
(80/100) Recv. and Stored CNR
(81/100) Recv. and Stored CPHI
(82/100) Recv. and Stored CKX
(83/100) Recv. and Stored GLV
(84/100) Recv. and Stored GLQ
(85/100) Recv. and Stored GLO
(86/100) ERROR receiving CRV
(87/100) Recv. and Stored MOC
(88/100) Recv. and Stored CIX
(89/100) Recv. and Stored LODE
(90/100) Recv. and Stored CTO
(91/100) Recv. and Stored MCF
(92/100) Recv. and Stored CUO
(93/100) Recv. and Stored CMT
(94/100) Recv. and Stored CVRS
(95/100) Recv. and Stored CRMD
(96/100) Recv. and Stored CRF
(97/100) Recv. and Stored CLM
(98/100) Recv. and Stored CVU
(99/100) Recv. and Stored CIK
(100/100) Recv. and Stored DHY
Took 0:00:30.669610

array(['XXII', 'FAX', 'IAF', 'CH', 'ABE           ', 'FCO', 'IF', 'ISL',
       'ACU', 'AIII', 'ATNM', 'AE', 'ADK', 'ADK^A', 'ACY', 'WGA', 'AIRI',
       'AA^', 'AXX', 'AXU', 'AAU', 'APT', 'ALTV', 'AAMC', 'DIT', 'APP',
       'ADGE', 'ALN', 'AMS', 'AMPE', 'AXN', 'AMCO', 'HRT', 'AKG', 'AINC',
       'ASB.WS', 'AST', 'AWX', 'AVL', 'ASM', 'BTG', 'BTN', 'BKJ', 'BCV',
       'BAA', 'BHB', 'BRN', 'BIR^A', 'BGSF', 'BPMX', 'BTX', 'BTX.WS',
       'BGI', 'BZM', 'MHE', 'BLE', 'BLJ', 'BFY', 'BHV', 'BDR', 'BRG',
       'BVX', 'BWL.A', 'BZC', 'BTI', 'CANF', 'ROX', 'CAW', 'CVM', 'CVM.WS',
       'CEF', 'GTU', 'CET', 'LEU', 'CCF', 'CQH', 'CQP', 'LNG', 'CVR',
       'CNR', 'CPHI', 'CKX', 'GLV', 'GLQ', 'GLO', 'CRV', 'MOC', 'CIX',
       'LODE', 'CTO', 'MCF', 'CUO', 'CMT', 'CVRS', 'CRMD', 'CRF', 'CLM',
       'CVU', 'CIK', 'DHY'], dtype=object)

^ It is nicer to have the time from start to finish of this

In [ ]:
start = datetime.datetime.now()

In [ ]:
end = datetime.datetime.now()

In [ ]:
d = end-start

In [ ]:
d.seconds

In [ ]:
print(str(d))

> Let's try to read back in one of the files we just created....

In [ ]:
XXII = pd.read_csv("{}/{}.csv".format(DATA_PATH, "XXII"))

print("Shape: {}".format(XXII.shape))
print("\nStats\n")
print(XXII.describe())

> Lets see what happens if the file does not exist....
> We might want to consider the FileNotFoundError...

In [ ]:
try:
    XXIIAAAAAAAAA = pd.read_csv("{}/{}.csv".format(DATA_PATH, "XXIIAAAAAAAAA"))
except (FileNotFoundError):
    print("File not found.")
    print("We could create a function to download the data instead of erroring...")

> While we're here, let's look at the diference between csv and hdfs...

In [73]:
_tkrs = ["AAPL", "TWTR", "XXII", "AMZN", "GOOG"]

_r = initial_dataload(_tkrs)

for t in _tkrs:
    itr = pd.read_csv("{}/{}.csv".format(DATA_PATH, t))
    itr.to_hdf("{}/{}.h5".format(DATA_PATH, t), "stock_daily")

(1/5) Recv. and Stored AAPL
(2/5) Recv. and Stored TWTR
(3/5) Recv. and Stored XXII
(4/5) Recv. and Stored AMZN
(5/5) Recv. and Stored GOOG
Took 0:00:01.538005

In [74]:
%%bash
cd data
pwd
ls -lh
du -h

/home/jovyan/work/FintechCapstone/data
total 12M
-rw-r--r-- 1 jovyan users 620K Mar 15 14:51 AAPL.csv
-rw-r--r-- 1 jovyan users 3.9M Mar 15 14:51 AAPL.h5
-rw-r--r-- 1 jovyan users 342K Mar 15 14:51 AMZN.csv
-rw-r--r-- 1 jovyan users 2.0M Mar 15 14:51 AMZN.h5
drwxr-xr-x 2 jovyan users 4.0K Feb 17 14:58 B_TIER1
-rw-r--r-- 1 jovyan users 256K Mar 15 14:51 GOOG.csv
-rw-r--r-- 1 jovyan users 1.7M Mar 15 14:51 GOOG.h5
-rw-r--r-- 1 jovyan users  58K Mar 15 14:51 TWTR.csv
-rw-r--r-- 1 jovyan users 1.3M Mar 15 14:51 TWTR.h5
-rw-r--r-- 1 jovyan users  66K Mar 15 14:51 XXII.csv
-rw-r--r-- 1 jovyan users 1.6M Mar 15 14:51 XXII.h5
14M	./B_TIER1
26M	.

> Ok, so hdf5 will help us manage really large files. But is a bit of overkill for this kind of problem right now

In [75]:
_stock = dict()

_stock["AAPL"] = pd.read_csv("{}/{}.csv".format(DATA_PATH, "AAPL"))
_stock["TWTR"] = pd.read_csv("{}/{}.csv".format(DATA_PATH, "TWTR"))
_stock["XXII"] = pd.read_csv("{}/{}.csv".format(DATA_PATH, "XXII"))
_stock["GOOG"] = pd.read_csv("{}/{}.csv".format(DATA_PATH, "GOOG"))
_stock["AMZN"] = pd.read_csv("{}/{}.csv".format(DATA_PATH, "AMZN"))

> Now, lets settle on a little ticker list

In [76]:
_tkrs_df = pd.DataFrame(_tkrs, columns=["ticker"])
_tkrs_df

  ticker
0   AAPL
1   TWTR
2   XXII
3   AMZN
4   GOOG

> Let us take a look at their min and max dates

In [77]:
_tkrs_df["min"] = _tkrs_df["ticker"].apply(lambda s: _stock[s]["Date"].min())
_tkrs_df["max"] = _tkrs_df["ticker"].apply(lambda s: _stock[s]["Date"].max())

_tkrs_df

  ticker         min         max
0   AAPL  1980-12-12  2017-03-14
1   TWTR  2013-11-07  2017-03-14
2   XXII  2011-01-26  2017-03-14
3   AMZN  1997-05-15  2017-03-14
4   GOOG  2004-08-19  2017-03-14

> We have been ignoring the fact that the dates come as strings from the csv

In [78]:
_stock["GOOG"]["Date"].head()

0    2004-08-19
1    2004-08-20
2    2004-08-23
3    2004-08-24
4    2004-08-25
Name: Date, dtype: object

> Notice the **dtype** is "object" instead of "date".

> We can take care of this using **to_datetime**

In [79]:
_stock["GOOG"].iloc[3142:3200]["Date"]

3142    2017-02-10
3143    2017-02-13
3144    2017-02-14
3145    2017-02-15
3146    2017-02-16
3147    2017-02-17
3148    2017-02-21
3149    2017-02-22
3150    2017-02-23
3151    2017-02-24
3152    2017-02-27
3153    2017-02-28
3154    2017-03-01
3155    2017-03-02
3156    2017-03-03
3157    2017-03-06
3158    2017-03-07
3159    2017-03-08
3160    2017-03-09
3161    2017-03-10
3162    2017-03-13
3163    2017-03-14
Name: Date, dtype: object

In [80]:
pd.to_datetime(_stock["GOOG"].iloc[:3142]["Date"], infer_datetime_format=True).head()

0   2004-08-19
1   2004-08-20
2   2004-08-23
3   2004-08-24
4   2004-08-25
Name: Date, dtype: datetime64[ns]

In [81]:
def convert_dates(s):
    _stock[s]["Date"] = pd.to_datetime(_stock[s]["Date"], infer_datetime_format=True)

_a = _tkrs_df["ticker"].apply(convert_dates)

print(_stock["GOOG"]["Date"].head())
print("\n")
print(_stock["AAPL"]["Date"].head())

0   2004-08-19
1   2004-08-20
2   2004-08-23
3   2004-08-24
4   2004-08-25
Name: Date, dtype: datetime64[ns]


0   1980-12-12
1   1980-12-15
2   1980-12-16
3   1980-12-17
4   1980-12-18
Name: Date, dtype: datetime64[ns]

In [82]:
_stock["GOOG"].head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2004-08-19,100.000168,104.060182,95.960165,100.340176,44871300,50.119968
1,2004-08-20,101.010175,109.080187,100.500174,108.310183,22942800,54.100990
2,2004-08-23,110.750191,113.480193,109.050183,109.400185,18342800,54.645447
3,2004-08-24,111.240189,111.600192,103.570177,104.870176,15319700,52.382705
4,2004-08-25,104.960181,108.000187,103.880180,106.000184,9232100,52.947145

In [83]:
_tkrs_df

  ticker         min         max
0   AAPL  1980-12-12  2017-03-14
1   TWTR  2013-11-07  2017-03-14
2   XXII  2011-01-26  2017-03-14
3   AMZN  1997-05-15  2017-03-14
4   GOOG  2004-08-19  2017-03-14

> From now on it is safe to slice the *Date* columns using datetime objects

In [84]:
_stock["GOOG"]["Date"].head() > datetime.datetime(2004, 8, 20)

0    False
1    False
2     True
3     True
4     True
Name: Date, dtype: bool

In [85]:
_stock["GOOG"]["Date"].head() > datetime.datetime(2004, 8, 24)

0    False
1    False
2    False
3    False
4     True
Name: Date, dtype: bool

> Lets take a look at rolling indicators

In [86]:
pd.rolling_mean(_stock["GOOG"]["Open"], 5).iloc[0:14]

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(center=False,window=5).mean()
  if __name__ == '__main__':

0            NaN
1            NaN
2            NaN
3            NaN
4     105.592181
5     106.582183
6     108.000185
7     106.906183
8     105.118179
9     104.666178
10    103.514177
11    102.084174
12    101.230174
13    100.918174
Name: Open, dtype: float64

In [87]:
_stock["GOOG"]["Open"].rolling(window=5, center=False).mean().iloc[0:14]

0            NaN
1            NaN
2            NaN
3            NaN
4     105.592181
5     106.582183
6     108.000185
7     106.906183
8     105.118179
9     104.666178
10    103.514177
11    102.084174
12    101.230174
13    100.918174
Name: Open, dtype: float64

In [88]:
_stock["GOOG"]["Close"].rolling(window=5, center=False).mean().iloc[0:14]

0            NaN
1            NaN
2            NaN
3            NaN
4     105.784181
5     107.298182
6     106.866182
7     105.388179
8     104.888179
9     103.738176
10    102.458174
11    101.230172
12    101.144173
13    101.130172
Name: Close, dtype: float64

> One can slice a subset of columns using loc and then call apply across all the sliced columns.

> The result will be a new dataframe with the rolled averages row-by-row across each column

In [89]:
def apply_rolling_mean(s):
    return s.rolling(window=5, center=False).mean()

_rolling5 = _stock["GOOG"].loc[:, ["Open", "High", "Low", "Close", "Volume", "Adj Close"]].apply(apply_rolling_mean)
_rolling5.iloc[0:14]

          Open        High         Low       Close      Volume  Adj Close
0          NaN         NaN         NaN         NaN         NaN        NaN
1          NaN         NaN         NaN         NaN         NaN        NaN
2          NaN         NaN         NaN         NaN         NaN        NaN
3          NaN         NaN         NaN         NaN         NaN        NaN
4   105.592181  109.244188  102.592176  105.784181  22141740.0  52.839251
5   106.582183  110.022189  104.332179  107.298182  14593200.0  53.595495
6   108.000185  109.930189  105.370180  106.866182  11252880.0  53.379711
7   106.906183  108.332187  103.962178  105.388179   8628600.0  52.641448
8   105.118179  106.754185  103.680178  104.888179   6552900.0  52.391698
9   104.666178  105.748184  102.838175  103.738176   6542800.0  51.817271
10  103.514177  104.632181  101.694174  102.458174   8155160.0  51.177909
11  102.084174  103.256179  100.420171  101.230172   7942280.0  50.564522
12  101.230174  102.558177   99.940171  101.144173   8073040.0  50.521565
13  100.918174  102.422177   99.608170  101.130172   8086640.0  50.514572

> We can concatenate the new frame and the old one using concat (we need to set the *axis=* in order to do it across columns)

> We can also reset the column names so that we don't have duplicate names (we could have done this in the previous step on the _rolling5 frame)

In [90]:
_result = pd.concat([_stock["GOOG"], _rolling5], axis=1)
_result.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close', 'Open_roll5','High_roll5', 'Low_roll5', 'Close_roll5', 'Volume_roll5', 'Adj Close_roll5']

_result.iloc[0:14]

,Date,Open,High,Low,Close,Volume,Adj Close,Open_roll5,High_roll5,Low_roll5,Close_roll5,Volume_roll5,Adj Close_roll5
0,2004-08-19,100.000168,104.060182,95.960165,100.340176,44871300,50.119968,NaN,NaN,NaN,NaN,NaN,NaN
1,2004-08-20,101.010175,109.080187,100.500174,108.310183,22942800,54.100990,NaN,NaN,NaN,NaN,NaN,NaN
2,2004-08-23,110.750191,113.480193,109.050183,109.400185,18342800,54.645447,NaN,NaN,NaN,NaN,NaN,NaN
3,2004-08-24,111.240189,111.600192,103.570177,104.870176,15319700,52.382705,NaN,NaN,NaN,NaN,NaN,NaN
4,2004-08-25,104.960181,108.000187,103.880180,106.000184,9232100,52.947145,105.592181,109.244188,102.592176,105.784181,22141740.0,52.839251
5,2004-08-26,104.950180,107.950188,104.660179,107.910182,7128600,53.901190,106.582183,110.022189,104.332179,107.298182,14593200.0,53.595495
6,2004-08-27,108.100185,108.620186,105.690180,106.150181,6241200,53.022069,108.000185,109.930189,105.370180,106.866182,11252880.0,53.379711
7,2004-08-30,105.280178,105.490184,102.010172,102.010172,5221400,50.954132,106.906183,108.332187,103.962178,105.388179,8628600.0,52.641448
8,2004-08-31,102.300173,103.710180,102.160177,102.370175,4941200,51.133953,105.118179,106.754185,103.680178,104.888179,6552900.0,52.391698
9,2004-09-01,102.700174,102.970180,99.670169,100.250171,9181600,50.075011,104.666178,105.748184,102.838175,103.738176,6542800.0,51.817271
10,2004-09-02,99.190173,102.370175,98.940170,101.510173,15190400,50.704382,103.514177,104.632181,101.694174,102.458174,8155160.0,51.177909
11,2004-09-03,100.950174,101.740174,99.320168,100.010169,5176800,49.955130,102.084174,103.256179,100.420171,101.230172,7942280.0,50.564522
12,2004-09-07,101.010175,102.000178,99.610169,101.580175,5875200,50.739348,101.230174,102.558177,99.940171,101.144173,8073040.0,50.521565
13,2004-09-08,100.740176,103.030180,100.500174,102.300173,5009200,51.098988,100.918174,102.422177,99.608170,101.130172,8086640.0,50.514572

> Lets see how we could repurpose **apply_rolling_mean** to use with different window sizes with an apply over columns...

In [91]:
def apply_rolling_mean(s, window=5):
    return s.rolling(window=window, center=False).mean()

_col_slice = ["Open", "High", "Low", "Close", "Volume", "Adj Close"]
_pre_bound = partial(apply_rolling_mean, window=3)
_rolling = _stock["GOOG"].loc[ : , _col_slice ].apply(_pre_bound)
_rolling.iloc[0:8]

         Open        High         Low       Close        Volume  Adj Close
0         NaN         NaN         NaN         NaN           NaN        NaN
1         NaN         NaN         NaN         NaN           NaN        NaN
2  103.920178  108.873521  101.836841  106.016848  2.871897e+07  52.955468
3  107.666852  111.386857  104.373511  107.526848  1.886843e+07  53.709714
4  108.983520  111.026857  105.500180  106.756848  1.429820e+07  53.325099
5  107.050183  109.183522  104.036845  106.260181  1.056013e+07  53.077013
6  106.003515  108.190187  104.743513  106.686849  7.533967e+06  53.290135
7  106.110181  107.353519  104.120177  105.356845  6.197067e+06  52.625797

In [92]:
# We can also call rolling directly from the dataframe itself
_stock["GOOG"].loc[:,["Open"]].rolling(window=3, center=False).mean().head()

         Open
0         NaN
1         NaN
2  103.920178
3  107.666852
4  108.983520

In [93]:
# this will be the same as the cells above
a = _stock["GOOG"].loc[:,["Open"]].rolling(window=3, center=False)
getattr(a, 'mean')().head()

         Open
0         NaN
1         NaN
2  103.920178
3  107.666852
4  108.983520

In [94]:
# but now we can call other rolling stats programatically

stat_fns = ["mean", "sum"]

for itr in stat_fns:
    print("{} :\n".format(itr))
    print(getattr(a, itr)().head())
    print("\n---\n")

mean :

         Open
0         NaN
1         NaN
2  103.920178
3  107.666852
4  108.983520

---

sum :

         Open
0         NaN
1         NaN
2  311.760534
3  323.000555
4  326.950561

---

> We can bundle all this rolling logic in a function that rolls and merges the collumns that we want

In [95]:
roll_columns(_stock["GOOG"], "mean", column_slice=["Open"]).iloc[0:16]

    Open_roll_mean_10
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9          105.129179
10         105.048180
11         105.042180
12         104.068178
13         103.018177
14         102.775176
15         102.440176

In [96]:
roll_columns(_stock["GOOG"], "mean", column_slice=["Open", "Close"]).iloc[0:16]

    Open_roll_mean_10  Close_roll_mean_10
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN
5                 NaN                 NaN
6                 NaN                 NaN
7                 NaN                 NaN
8                 NaN                 NaN
9          105.129179          104.761178
10         105.048180          104.878178
11         105.042180          104.048177
12         104.068178          103.266176
13         103.018177          103.009175
14         102.775176          102.640174
15         102.440176          102.382174

In [97]:
roll_columns(_stock["GOOG"], "mean", column_slice=["Open", "Close"], window=5).head()

   Open_roll_mean_5  Close_roll_mean_5
0               NaN                NaN
1               NaN                NaN
2               NaN                NaN
3               NaN                NaN
4        105.592181         105.784181

In [98]:
roll_columns(_stock["GOOG"], "mean", column_slice=["Open", "Close"], window=3).head()

   Open_roll_mean_3  Close_roll_mean_3
0               NaN                NaN
1               NaN                NaN
2        103.920178         106.016848
3        107.666852         107.526848
4        108.983520         106.756848

In [99]:
roll_columns(_stock["GOOG"], "mean", column_slice=["Open", "Close"], window=3, merge_result=True).head()

,Date,Open,High,Low,Close,Volume,Adj Close,Open_roll_mean_3,Close_roll_mean_3
0,2004-08-19,100.000168,104.060182,95.960165,100.340176,44871300,50.119968,NaN,NaN
1,2004-08-20,101.010175,109.080187,100.500174,108.310183,22942800,54.100990,NaN,NaN
2,2004-08-23,110.750191,113.480193,109.050183,109.400185,18342800,54.645447,103.920178,106.016848
3,2004-08-24,111.240189,111.600192,103.570177,104.870176,15319700,52.382705,107.666852,107.526848
4,2004-08-25,104.960181,108.000187,103.880180,106.000184,9232100,52.947145,108.983520,106.756848

> We really shouldn't leave the nan or other missing values there.

In [100]:
df_topad = roll_columns(_stock["GOOG"], "mean", column_slice=["Open", "Close"], window=3).head()
df_topad

   Open_roll_mean_3  Close_roll_mean_3
0               NaN                NaN
1               NaN                NaN
2        103.920178         106.016848
3        107.666852         107.526848
4        108.983520         106.756848

In [101]:
df_topad.fillna(method="bfill")

   Open_roll_mean_3  Close_roll_mean_3
0        103.920178         106.016848
1        103.920178         106.016848
2        103.920178         106.016848
3        107.666852         107.526848
4        108.983520         106.756848

> we could acomodate this on our function....

In [102]:
roll_columns(_stock["GOOG"], "mean", column_slice=["Open", "Close"], window=3, pad_result=False).head()

   Open_roll_mean_3  Close_roll_mean_3
0               NaN                NaN
1               NaN                NaN
2        103.920178         106.016848
3        107.666852         107.526848
4        108.983520         106.756848

In [103]:
roll_columns(_stock["GOOG"], "mean", column_slice=["Open", "Close"], window=3, pad_result=True).head()

   Open_roll_mean_3  Close_roll_mean_3
0        103.920178         106.016848
1        103.920178         106.016848
2        103.920178         106.016848
3        107.666852         107.526848
4        108.983520         106.756848

We can look at how to compute the daily returns by shifting our data

In [104]:
_sample_goog_close = _stock["GOOG"].loc[:,["Close"]].iloc[:15]
_sample_goog_close

         Close
0   100.340176
1   108.310183
2   109.400185
3   104.870176
4   106.000184
5   107.910182
6   106.150181
7   102.010172
8   102.370175
9   100.250171
10  101.510173
11  100.010169
12  101.580175
13  102.300173
14  102.310174

In [105]:
%%timeit

_rr = (_sample_goog_close[1:] / _sample_goog_close[:-1].values) - 1
_rr.ix[0] = 0
_rr

100 loops, best of 3: 4.05 ms per loop

In [106]:
%%timeit

# this code does the same as the cell above, but as we can see it is much faster
_rr = (_sample_goog_close / _sample_goog_close.shift(1)) - 1
_rr.ix[0] = 0
_rr

1000 loops, best of 3: 1.14 ms per loop

> Lets try with multiple collumns

In [107]:

_rr = (_sample_goog_close / _sample_goog_close.shift(1)) - 1
_rr.ix[0] = 0
_rr

       Close
0   0.000000
1   0.079430
2   0.010064
3  -0.041408
4   0.010775
5   0.018019
6  -0.016310
7  -0.039001
8   0.003529
9  -0.020709
10  0.012569
11 -0.014777
12  0.015698
13  0.007088
14  0.000098

In [108]:
_rr = (_sample_goog_close / _sample_goog_close.shift(1)) - 1
_rr = _rr.fillna(0)
_rr

       Close
0   0.000000
1   0.079430
2   0.010064
3  -0.041408
4   0.010775
5   0.018019
6  -0.016310
7  -0.039001
8   0.003529
9  -0.020709
10  0.012569
11 -0.014777
12  0.015698
13  0.007088
14  0.000098

> Lets try out some functions of our own. Built on top of this

In [109]:
import numpy as np
df = pd.DataFrame([[1, 1.2, 1.8],[1, 0.8, 1.6],[1,-0.5,0.1]]).T
df

     0    1    2
0  1.0  1.0  1.0
1  1.2  0.8 -0.5
2  1.8  1.6  0.1

In [110]:
timewindow_diff(df)

   timewindow_diff_1_0  timewindow_diff_1_1  timewindow_diff_1_2
0                  NaN                  NaN                  NaN
1                  0.2                 -0.2                 -1.5
2                  0.6                  0.8                  0.6

In [111]:
timewindow_diff(df, shift_window=2, fillna=True)

   timewindow_diff_2_0  timewindow_diff_2_1  timewindow_diff_2_2
0                  0.0                  0.0                  0.0
1                  0.0                  0.0                  0.0
2                  0.8                  0.6                 -0.9

In [112]:
timewindow_diff(df, column_slice=[1], fillna=True, merge_result=True)

     0    1    2  timewindow_diff_1_1
0  1.0  1.0  1.0                  0.0
1  1.2  0.8 -0.5                 -0.2
2  1.8  1.6  0.1                  0.8

In [113]:
df

     0    1    2
0  1.0  1.0  1.0
1  1.2  0.8 -0.5
2  1.8  1.6  0.1

In [114]:
timewindow_return(df)

   timewindow_return_1_0  timewindow_return_1_1  timewindow_return_1_2
0                    NaN                    NaN                    NaN
1                    0.2                   -0.2                   -1.5
2                    0.5                    1.0                   -1.2

> timewindow_return gives us the variation from an initial value. See the explanation below.

In [115]:
n = 200
p = 1.5
v = p * n
print("You buy {} shares at {}. Your value is {}".format(n,p,v))
np = 1.0
nv = np * n
r = ((np / p) - 1.0)
print("The price changes to {}. You new value is {}.".format(np, nv))

print ("Your return is {} ({} of your initial value)".format(v*r, r))

You buy 200 shares at 1.5. Your value is 300.0
The price changes to 1.0. You new value is 200.0.
Your return is -100.00000000000001 (-0.33333333333333337 of your initial value)

In [116]:
df

     0    1    2
0  1.0  1.0  1.0
1  1.2  0.8 -0.5
2  1.8  1.6  0.1

In [117]:
timewindow_cumdiff(df)

   timewindow_cumdiff_0  timewindow_cumdiff_1  timewindow_cumdiff_2
0                   0.0                   0.0                   0.0
1                   0.2                  -0.2                  -1.5
2                   0.8                   0.6                  -0.9

In [118]:
timewindow_cumreturn(df)

   timewindow_cumreturn_0  timewindow_cumreturn_1  timewindow_cumreturn_2
0                     0.0                     0.0                     0.0
1                     0.2                    -0.2                    -1.5
2                     0.8                     0.6                    -0.9

> Now, lets take a real look at dates and how to manage them

In [119]:
import numpy as np

# This can create an array with a date for us
ledate = np.array('2015-12-30', dtype=np.datetime64)
ledate

array(datetime.date(2015, 12, 30), dtype='datetime64[D]')

> we can obviously do vectorized operation on *ledate*

In [120]:
lerange_12day = ledate + np.arange(12)
lerange_12day

array(['2015-12-30', '2015-12-31', '2016-01-01', '2016-01-02',
       '2016-01-03', '2016-01-04', '2016-01-05', '2016-01-06',
       '2016-01-07', '2016-01-08', '2016-01-09', '2016-01-10'], dtype='datetime64[D]')

> We can also use *np.datetime64* in order to create a date constant. It's possible to give it a time format

In [121]:
print(np.datetime64('2015-07-04 12:00'))
print(np.datetime64('2015-07-04 12:59:59.50', 'ns'))

2015-07-04T12:00
2015-07-04T12:59:59.500000000

> These are the code formats possible with numpy

|Code    | Meaning     | Time span (relative) | Time span (absolute)   |
|--------|-------------|----------------------|------------------------|
| ``Y``  | Year	       | Â± 9.2e18 years       | [9.2e18 BC, 9.2e18 AD] |
| ``M``  | Month       | Â± 7.6e17 years       | [7.6e17 BC, 7.6e17 AD] |
| ``W``  | Week	       | Â± 1.7e17 years       | [1.7e17 BC, 1.7e17 AD] |
| ``D``  | Day         | Â± 2.5e16 years       | [2.5e16 BC, 2.5e16 AD] |
| ``h``  | Hour        | Â± 1.0e15 years       | [1.0e15 BC, 1.0e15 AD] |
| ``m``  | Minute      | Â± 1.7e13 years       | [1.7e13 BC, 1.7e13 AD] |
| ``s``  | Second      | Â± 2.9e12 years       | [ 2.9e9 BC, 2.9e9 AD]  |
| ``ms`` | Millisecond | Â± 2.9e9 years        | [ 2.9e6 BC, 2.9e6 AD]  |
| ``us`` | Microsecond | Â± 2.9e6 years        | [290301 BC, 294241 AD] |
| ``ns`` | Nanosecond  | Â± 292 years          | [ 1678 AD, 2262 AD]    |
| ``ps`` | Picosecond  | Â± 106 days           | [ 1969 AD, 1970 AD]    |
| ``fs`` | Femtosecond | Â± 2.6 hours          | [ 1969 AD, 1970 AD]    |
| ``as`` | Attosecond  | Â± 9.2 seconds        | [ 1969 AD, 1970 AD]    |

> We can also use pandas to manipulate our dates

In [122]:
ledate = pd.to_datetime("4th of July, 2015")
ledate

Timestamp('2015-07-04 00:00:00')

In [123]:
ledate.strftime('%A')

'Saturday'

> We can also use vectorized operations

In [124]:
lerange_12days = ledate + pd.to_timedelta(np.arange(12), 'D')
lerange_12days

DatetimeIndex(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
               '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
               '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
              dtype='datetime64[ns]', freq=None)

In [125]:
lerange_12months = ledate + pd.to_timedelta(np.arange(12), 'M')
lerange_12months

DatetimeIndex(['2015-07-04 00:00:00', '2015-08-03 10:29:06',
               '2015-09-02 20:58:12', '2015-10-03 07:27:18',
               '2015-11-02 17:56:24', '2015-12-03 04:25:30',
               '2016-01-02 14:54:36', '2016-02-02 01:23:42',
               '2016-03-03 11:52:48', '2016-04-02 22:21:54',
               '2016-05-03 08:51:00', '2016-06-02 19:20:06'],
              dtype='datetime64[ns]', freq=None)

In [126]:
lerange_12minutes = ledate + pd.to_timedelta(np.arange(12), 'm')
lerange_12minutes

DatetimeIndex(['2015-07-04 00:00:00', '2015-07-04 00:01:00',
               '2015-07-04 00:02:00', '2015-07-04 00:03:00',
               '2015-07-04 00:04:00', '2015-07-04 00:05:00',
               '2015-07-04 00:06:00', '2015-07-04 00:07:00',
               '2015-07-04 00:08:00', '2015-07-04 00:09:00',
               '2015-07-04 00:10:00', '2015-07-04 00:11:00'],
              dtype='datetime64[ns]', freq=None)

> We can also use *pd.date_range* to achieve this

In [127]:
pd.date_range('2015-07-03', '2015-07-10')

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10'],
              dtype='datetime64[ns]', freq='D')

In [128]:
pd.date_range('2015-07-03', periods=4)

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06'], dtype='datetime64[ns]', freq='D')

In [129]:
pd.date_range('2015-07-03', periods=8, freq='H')

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00', '2015-07-03 05:00:00',
               '2015-07-03 06:00:00', '2015-07-03 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [130]:
pd.period_range('2015-07', periods=8, freq='M')

PeriodIndex(['2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
             '2016-01', '2016-02'],
            dtype='period[M]', freq='M')

In [131]:
pd.timedelta_range(0, periods=10, freq='H')

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00'],
               dtype='timedelta64[ns]', freq='H')

#### Frequencies and Offsets
(Taken from [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook))

Fundamental to these Pandas time series tools is the concept of a frequency or date offset.
Just as we saw the ``D`` (day) and ``H`` (hour) codes above, we can use such codes to specify any desired frequency spacing.
The following table summarizes the main codes available:

| Code   | Description         | Code   | Description          |
|--------|---------------------|--------|----------------------|
| ``D``  | Calendar day        | ``B``  | Business day         |
| ``W``  | Weekly              |        |                      |
| ``M``  | Month end           | ``BM`` | Business month end   |
| ``Q``  | Quarter end         | ``BQ`` | Business quarter end |
| ``A``  | Year end            | ``BA`` | Business year end    |
| ``H``  | Hours               | ``BH`` | Business hours       |
| ``T``  | Minutes             |        |                      |
| ``S``  | Seconds             |        |                      |
| ``L``  | Milliseonds         |        |                      |
| ``U``  | Microseconds        |        |                      |
| ``N``  | nanoseconds         |        |                      |

| Code    | Description            | Code    | Description            |
|---------|------------------------|---------|------------------------|
| ``MS``  | Month start            |``BMS``  | Business month start   |
| ``QS``  | Quarter start          |``BQS``  | Business quarter start |
| ``AS``  | Year start             |``BAS``  | Business year start    |

In [132]:
## This will give us 9 spans of 2 and a half hours each
pd.timedelta_range(0, periods=9, freq="2H30T")

TimedeltaIndex(['00:00:00', '02:30:00', '05:00:00', '07:30:00', '10:00:00',
                '12:30:00', '15:00:00', '17:30:00', '20:00:00'],
               dtype='timedelta64[ns]', freq='150T')

In [133]:
aapl = _stock["AAPL"]
aapl.head()

        Date       Open       High     Low   Close     Volume  Adj Close
0 1980-12-12  28.750000  28.875000  28.750  28.750  117258400   0.425000
1 1980-12-15  27.375001  27.375001  27.250  27.250   43971200   0.402826
2 1980-12-16  25.375000  25.375000  25.250  25.250   26432000   0.373261
3 1980-12-17  25.875000  25.999999  25.875  25.875   21610400   0.382500
4 1980-12-18  26.625000  26.750000  26.625  26.625   18362400   0.393587

In [134]:
aapl.corr()

               Open      High       Low     Close    Volume  Adj Close
Open       1.000000  0.999929  0.999902  0.999826  0.200913   0.603955
High       0.999929  1.000000  0.999882  0.999921  0.203637   0.603304
Low        0.999902  0.999882  1.000000  0.999915  0.196851   0.604890
Close      0.999826  0.999921  0.999915  1.000000  0.200406   0.604161
Volume     0.200913  0.203637  0.196851  0.200406  1.000000   0.013555
Adj Close  0.603955  0.603304  0.604890  0.604161  0.013555   1.000000

In [135]:
goog = _stock["GOOG"]

In [136]:
_rolling = aapl.loc[:100, ["Close"]].rolling(window=10, center=True)

_rolling.corr(other=goog["Open"]).iloc[:16]

       Close
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5  -0.492011
6  -0.696666
7  -0.874905
8  -0.850180
9  -0.807468
10 -0.850498
11 -0.855884
12 -0.811677
13 -0.844038
14 -0.784980
15 -0.783991

In [137]:
aapl["Close"].corr(goog["Close"])

0.49542591210516851

> Lets take a look at the exchanges

In [138]:
_tkrs = ["^IXIC", "^GSPC"]

_r = initial_dataload(_tkrs)

_exchanges = dict()

for t in _tkrs:
    _exchanges[t] = pd.read_csv("{}/{}.csv".format(DATA_PATH, t))

(1/2) Recv. and Stored ^IXIC
(2/2) Recv. and Stored ^GSPC
Took 0:00:01.651249

In [139]:
df_beta = pd.DataFrame()

df_beta["IXIC"] = _exchanges["^IXIC"].iloc[-100:, :]["Close"]
df_beta["GOOG"] = _stock["GOOG"].iloc[-100:, :]["Close"]

In [140]:
def calc_beta(df):
	# first column is the market
	X = df.values[:, [0]]
	# prepend a column of ones for the intercept
	X = np.concatenate([np.ones_like(X), X], axis=1)
	# matrix algebra
	b = np.linalg.pinv(X.T.dot(X)).dot(X.T).dot(df.values[:, 1:])
	return pd.Series(b[1], df.columns[1:], name='Beta')

In [141]:
df_beta.head()

              IXIC  GOOG
11527  5246.410156   NaN
11528  5241.830078   NaN
11529  5257.399902   NaN
11530  5309.830078   NaN
11531  5283.399902   NaN

In [142]:
_stock["GOOG"].iloc[-100:, :]["Close"]

3064    801.500000
3065    796.969971
3066    799.369995
3067    813.109985
3068    807.669983
3069    799.070007
3070    795.349976
3071    795.369995
3072    784.539978
3073    783.609985
3074    768.700012
3075    762.130005
3076    762.020020
3077    782.520020
3078    790.510010
3079    785.309998
3080    762.559998
3081    754.020020
3082    736.080017
3083    758.489990
3084    764.479980
3085    771.229980
3086    760.539978
3087    769.200012
3088    768.270020
3089    760.989990
3090    761.679993
3091    768.239990
3092    770.840027
3093    758.039978
           ...
3134    796.789978
3135    795.695007
3136    798.530029
3137    801.489990
3138    801.340027
3139    806.969971
3140    808.380005
3141    809.559998
3142    813.669983
3143    819.239990
3144    820.450012
3145    818.979980
3146    824.159973
3147    828.070007
3148    831.659973
3149    830.760010
3150    831.330017
3151    828.640015
3152    829.280029
3153    823.210022
3154    835.239990
3155    830.630005
3156    829.080017
3157    827.780029
3158    831.909973
3159    835.369995
3160    838.679993
3161    843.250000
3162    845.539978
3163    845.619995
Name: Close, dtype: float64

In [143]:
dates = pd.date_range('1995-12-31', periods=480, freq='M', name='Date')
stoks = pd.Index(['s{:04d}'.format(i) for i in range(4000)])
df = pd.DataFrame(np.random.rand(480, 4000), dates, stoks)

In [144]:
df.iloc[:5, :5]

               s0000     s0001     s0002     s0003     s0004
Date
1995-12-31  0.439742  0.244586  0.939956  0.793016  0.498755
1996-01-31  0.751395  0.161854  0.319897  0.999553  0.627204
1996-02-29  0.681048  0.976193  0.980843  0.859208  0.268533
1996-03-31  0.684112  0.731804  0.872493  0.846800  0.610690
1996-04-30  0.044781  0.855973  0.631492  0.314742  0.058679

In [145]:
def roll(df, w):
    # stack df.values w-times shifted once at each stack
    roll_array = np.dstack([df.values[i:i+w, :] for i in range(len(df.index) - w + 1)]).T
    # roll_array is now a 3-D array and can be read into
    # a pandas panel object
    panel = pd.Panel(roll_array, 
                     items=df.index[w-1:],
                     major_axis=df.columns,
                     minor_axis=pd.Index(range(w), name='roll'))
    # convert to dataframe and pivot + groupby
    # is now ready for any action normally performed
    # on a groupby object
    return panel.to_frame().unstack().T.groupby(level=0)

In [146]:
def beta(df):
    # first column is the market
    X = df.values[:, [0]]
    # prepend a column of ones for the intercept
    X = np.concatenate([np.ones_like(X), X], axis=1)
    # matrix algebra
    b = np.linalg.pinv(X.T.dot(X)).dot(X.T).dot(df.values[:, 1:])
    return pd.Series(b[1], df.columns[1:], name='Beta')

In [147]:
rdf = roll(df, 12)
betas = rdf.apply(beta)

In [148]:
def calc_beta(df):
    np_array = df.values
    m = np_array[:,0] # market returns are column zero from numpy array
    s = np_array[:,1] # stock returns are column one from numpy array
    covariance = np.cov(s,m) # Calculate covariance between stock and market
    beta = covariance[0,1]/covariance[1,1]
    return beta

In [149]:
print(calc_beta(df.iloc[:12, :2]))

-0.098394398325

In [150]:
print(beta(df.iloc[:12, :2]))

s0001   -0.098394
Name: Beta, dtype: float64

In [151]:
betas = rdf.apply(beta)
betas.iloc[:5, :5]

major          s0001     s0002     s0003     s0004     s0005
Date
1996-11-30 -0.098394 -0.184887  0.090722 -0.121429  0.550546
1996-12-31 -0.120075 -0.103704  0.140081 -0.142751  0.564142
1997-01-31 -0.132794  0.000154  0.066946 -0.158786  0.473184
1997-02-28 -0.243285 -0.046319  0.077253 -0.071332  0.458667
1997-03-31 -0.268293 -0.094814  0.007051 -0.125453  0.379129

In [152]:
%%timeit 
roll(df, 12).apply(beta)

1 loop, best of 3: 4.88 s per loop

In [153]:
from scipy import stats
import numpy as np
x = np.random.random(10)
y = np.random.random(10)
slope, intercept, r_value, p_value, std_err = stats.linregress(x,y)

In [154]:
_stock = dict()
_stock["TWTR"] = pd.read_csv("{}/{}.csv".format(DATA_PATH, "TWTR"))

In [155]:
timespan = None

timespan = {
    "short_term": [5]
    ,"medium_term": [30,50,70]
    ,"long_term": [100, 200]
}

In [156]:
gains = None

gains = {
    "low": [0.01]
    ,"medium": [0.05, 0.07, 0.1]
    ,"high": [0.2, 0.4, 1.0]
}

In [157]:
losses = None

losses = {
    "low": [-0.05, -0.1]
    ,"medium": [-0.3, -0.5]
    ,"high": [-0.8, -1.0, -2.0]
}

In [158]:
itr_df = _stock["TWTR"];

itr_df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2013-11-07,45.099998,50.090000,44.000000,44.900002,117701600,44.900002
1,2013-11-08,45.930000,46.939999,40.689999,41.650002,27925300,41.650002
2,2013-11-11,40.500000,43.000000,39.400002,42.900002,16113900,42.900002
3,2013-11-12,43.660000,43.779999,41.830002,41.900002,6316700,41.900002
4,2013-11-13,41.029999,42.869999,40.759998,42.599998,8688300,42.599998

In [159]:
## calculate diff moves for timespans
## calculate returns for timespans
## calculate moving averages
## calculate bollinger bands

In [160]:
## calculate diff moves for timespans

itr_df = _stock["TWTR"];

for ts_name in timespan:
    for t in timespan[ts_name]:
        itr_df = timewindow_diff(itr_df, column_slice=["Close", "Volume"], shift_window=t, merge_result=True)        

itr_df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,timewindow_diff_5_Close,timewindow_diff_5_Volume,timewindow_diff_30_Close,timewindow_diff_30_Volume,timewindow_diff_50_Close,timewindow_diff_50_Volume,timewindow_diff_70_Close,timewindow_diff_70_Volume,timewindow_diff_100_Close,timewindow_diff_100_Volume,timewindow_diff_200_Close,timewindow_diff_200_Volume
0,2013-11-07,45.099998,50.090000,44.000000,44.900002,117701600,44.900002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-11-08,45.930000,46.939999,40.689999,41.650002,27925300,41.650002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-11-11,40.500000,43.000000,39.400002,42.900002,16113900,42.900002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-11-12,43.660000,43.779999,41.830002,41.900002,6316700,41.900002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-11-13,41.029999,42.869999,40.759998,42.599998,8688300,42.599998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
## calculate returns for timespans

itr_df = _stock["TWTR"];

for ts_name in timespan:
    for t in timespan[ts_name]:
        itr_df = timewindow_return(itr_df, column_slice=["Close", "Volume"], shift_window=t, merge_result=True)        

itr_df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,timewindow_return_5_Close,timewindow_return_5_Volume,timewindow_return_30_Close,timewindow_return_30_Volume,timewindow_return_50_Close,timewindow_return_50_Volume,timewindow_return_70_Close,timewindow_return_70_Volume,timewindow_return_100_Close,timewindow_return_100_Volume,timewindow_return_200_Close,timewindow_return_200_Volume
0,2013-11-07,45.099998,50.090000,44.000000,44.900002,117701600,44.900002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-11-08,45.930000,46.939999,40.689999,41.650002,27925300,41.650002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-11-11,40.500000,43.000000,39.400002,42.900002,16113900,42.900002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-11-12,43.660000,43.779999,41.830002,41.900002,6316700,41.900002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-11-13,41.029999,42.869999,40.759998,42.599998,8688300,42.599998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
## calculate moving averages

itr_df = _stock["TWTR"];

for ts_name in timespan:
    for t in timespan[ts_name]:
        itr_df = roll_columns(itr_df, "mean", column_slice=["Close", "Volume"], window=t, merge_result=True)        

itr_df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,Close_roll_mean_5,Volume_roll_mean_5,Close_roll_mean_30,Volume_roll_mean_30,Close_roll_mean_50,Volume_roll_mean_50,Close_roll_mean_70,Volume_roll_mean_70,Close_roll_mean_100,Volume_roll_mean_100,Close_roll_mean_200,Volume_roll_mean_200
0,2013-11-07,45.099998,50.090000,44.000000,44.900002,117701600,44.900002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-11-08,45.930000,46.939999,40.689999,41.650002,27925300,41.650002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-11-11,40.500000,43.000000,39.400002,42.900002,16113900,42.900002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-11-12,43.660000,43.779999,41.830002,41.900002,6316700,41.900002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-11-13,41.029999,42.869999,40.759998,42.599998,8688300,42.599998,42.790001,35349160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
## calculate bollinger bands

itr_df = pd.DataFrame()
res_df = pd.DataFrame()

for ts_name in timespan:
    if ts_name in ["medium_term", "long_term"]:
        for t in timespan[ts_name]:
            itr_df = roll_columns(_stock["TWTR"], "std", column_slice=["Close"], window=t, merge_result=False, scaler=2, pad_result=True)
            upper_band = itr_df.apply(lambda x: s + x)
            lower_band = itr_df.apply(lambda x: s - x)
            
            roll_name = "{}_roll_2std_{}".format("Close", t)
            upper_name = "{}_bollinger_{}_up".format("Close", t)
            lower_name = "{}_bollinger_{}_low".format("Close", t)
            
            res_df[roll_name] = itr_df.iloc[:, 0]
            res_df[upper_name] = upper_band
            res_df[lower_name] = lower_band

            
res_df.head()

NameError: ("name 's' is not defined", 'occurred at index Close_roll_std_30')

In [12]:
_stock = dict()
_stock["TWTR"] = pd.read_csv("{}/{}.csv".format(DATA_PATH, "TWTR"))

In [13]:
aapl = load_raw_frame("AAPL")
aapl.head()

         Date       Open       High     Low   Close     Volume  Adj Close
0  1980-12-12  28.750000  28.875000  28.750  28.750  117258400   0.425000
1  1980-12-15  27.375001  27.375001  27.250  27.250   43971200   0.402826
2  1980-12-16  25.375000  25.375000  25.250  25.250   26432000   0.373261
3  1980-12-17  25.875000  25.999999  25.875  25.875   21610400   0.382500
4  1980-12-18  26.625000  26.750000  26.625  26.625   18362400   0.393587

In [14]:
timespan = None

timespan = {
    "medium_term": [4,7]
}

In [15]:
aapl = load_raw_frame("AAPL")

In [16]:
calc_diff_moves(aapl, timespan=timespan, column_slice=["Close", "Volume"], fillna=True, merge_result=True)

,Date,Open,High,Low,Close,Volume,Adj Close,timewindow_diff_4_Close,timewindow_diff_4_Volume,timewindow_diff_7_Close,timewindow_diff_7_Volume
0,1980-12-12,28.750000,28.875000,28.750000,28.750000,117258400,0.425000,0.000000,0.0,0.000000,0.0
1,1980-12-15,27.375001,27.375001,27.250000,27.250000,43971200,0.402826,0.000000,0.0,0.000000,0.0
2,1980-12-16,25.375000,25.375000,25.250000,25.250000,26432000,0.373261,0.000000,0.0,0.000000,0.0
3,1980-12-17,25.875000,25.999999,25.875000,25.875000,21610400,0.382500,0.000000,0.0,0.000000,0.0
4,1980-12-18,26.625000,26.750000,26.625000,26.625000,18362400,0.393587,-2.125000,-98896000.0,0.000000,0.0
5,1980-12-19,28.249999,28.374999,28.249999,28.249999,12157600,0.417608,0.999999,-31813600.0,0.000000,0.0
6,1980-12-22,29.625000,29.750000,29.625000,29.625000,9340800,0.437934,4.375000,-17091200.0,0.000000,0.0
7,1980-12-23,30.874999,30.999999,30.874999,30.874999,11737600,0.456413,4.999999,-9872800.0,2.124999,-105520800.0
8,1980-12-24,32.500000,32.624999,32.500000,32.500000,12000800,0.480434,5.875000,-6361600.0,5.250000,-31970400.0
9,1980-12-26,35.500001,35.625001,35.500001,35.500001,13893600,0.524782,7.250002,1736000.0,10.250001,-12538400.0
10,1980-12-29,36.000000,36.124999,36.000000,36.000000,23290400,0.532174,6.375000,13949600.0,10.125000,1680000.0
11,1980-12-30,35.249999,35.249999,35.125000,35.125000,17220000,0.519239,4.250001,5482400.0,8.500000,-1142400.0
12,1980-12-31,34.250000,34.250000,34.125000,34.125000,8937600,0.504456,1.625000,-3063200.0,5.875001,-3220000.0
13,1981-01-02,34.499999,34.750001,34.499999,34.499999,5415200,0.510000,-1.000002,-8478400.0,4.874999,-3925600.0
14,1981-01-05,33.875001,33.875001,33.750001,33.750001,8932000,0.498913,-2.249999,-14358400.0,2.875002,-2805600.0
15,1981-01-06,32.375000,32.375000,32.250000,32.250000,11289600,0.476739,-2.875000,-5930400.0,-0.250000,-711200.0
16,1981-01-07,30.999999,30.999999,30.874999,30.874999,13921600,0.456413,-3.250001,4984000.0,-4.625002,28000.0
17,1981-01-08,30.375001,30.375001,30.250001,30.250001,9956800,0.447174,-4.249998,4541600.0,-5.749999,-13333600.0
18,1981-01-09,31.874999,32.000001,31.874999,31.874999,5376000,0.471195,-1.875002,-3556000.0,-3.250001,-11844000.0
19,1981-01-12,31.874999,31.874999,31.625000,31.625000,5924800,0.467500,-0.625000,-5364800.0,-2.500000,-3012800.0
20,1981-01-13,30.625000,30.625000,30.500000,30.500000,5762400,0.450869,-0.374999,-8159200.0,-3.999999,347200.0
21,1981-01-14,30.625000,30.750000,30.625000,30.625000,3572800,0.452717,0.374999,-6384000.0,-3.125001,-5359200.0
22,1981-01-15,31.250001,31.500000,31.250001,31.250001,3516800,0.461956,-0.624998,-1859200.0,-0.999999,-7772800.0
23,1981-01-16,31.125001,31.125001,30.999999,30.999999,3348800,0.458261,-0.625001,-2576000.0,0.125000,-10572800.0
24,1981-01-19,32.875001,33.000001,32.875001,32.875001,10393600,0.485978,2.375001,4631200.0,2.625000,436800.0
25,1981-01-20,32.000001,32.000001,31.874999,31.874999,7520800,0.471195,1.249999,3948000.0,0.000000,2144800.0
26,1981-01-21,32.500000,32.749999,32.500000,32.500000,3976000,0.480434,1.249999,459200.0,0.875000,-1948800.0
27,1981-01-22,32.875001,33.125000,32.875001,32.875001,8887200,0.485978,1.875002,5538400.0,2.375001,3124800.0
28,1981-01-23,32.875001,33.000001,32.749999,32.749999,2805600,0.484130,-0.125002,-7588000.0,2.124999,-767200.0
29,1981-01-26,32.375000,32.375000,32.250000,32.250000,6160000,0.476739,0.375001,-1360800.0,0.999999,2643200.0
...,...,...,...,...,...,...,...,...,...,...,...
9112,2017-02-01,127.029999,130.490005,127.010002,128.750000,111985000,128.194203,6.809998,85647400.0,8.669998,89934800.0
9113,2017-02-02,127.980003,129.389999,127.779999,128.529999,33710400,127.975152,6.580002,13147500.0,8.559998,10499400.0
9114,2017-02-03,128.309998,129.190002,128.160004,129.080002,24507300,128.522781,7.450005,-5870200.0,7.200005,-7870300.0
9115,2017-02-06,129.130005,130.500000,128.899994,130.289993,26845900,129.727549,8.939995,-22355100.0,8.349991,508300.0
9116,2017-02-07,130.539993,132.089996,130.449997,131.529999,38183800,130.962201,2.779999,-73801200.0,9.580002,17620900.0
9117,2017-02-08,131.350006,132.220001,131.220001,132.039993,23004100,131.469994,3.509994,-10706300.0,10.409996,-7373400.0
9118,2017-02-09,131.649994,132.449997,131.119995,132.419998,28349900,132.419998,3.339996,3842600.0,11.070000,-20851100.0
9119,2017-02-10,132.460007,132.940002,132.050003,132.119995,20065500,132.119995,1.830002,-6780400.0,3.369995,-91919500.0
9120,2017-02-13,133.080002,133.820007,132.750000,133.289993,23035400,133.289993,1.759994,-15148400.0,4.759994,-10675000.0
9121,2017-02-14,133.470001,135.089996,133.250000,135.020004,32815500,135.020004,2.980011,9811400.0,5.940002,8308200.0
9122,2017-02-15,135.520004,136.270004,134.619995,135.509995,35501600,135.509995,3.089997,7151700.0,5.220002,8655700.0
9123,2017-02-16,135.669998,135.899994,134.839996,135.350006,22118000,135.350006,3.230011,2052500.0,3.820007,-16065800.0
9124,2017-02-17,135.100006,135.830002,135.100006,135.720001,22084500,135.720001,2.430008,-950900.0,3.680008,-919600.0
9125,2017-02-21,136.229996,136.750000,135.979996,136.699997,24265100,136.699997,1.679993,-8550400.0,4.279999,-4084800.0
9126,2017-02-22,136.429993,137.119995,136.110001,137.110001,20745300,137.110001,1.600006,-14756300.0,4.990006,679800.0
9127,2017-02-23,137.380005,137.479996,136.300003,136.529999,20704100,136.529999,1.179993,-1413900.0,3.240006,-2331300.0
9128,2017-02-24,135.910004,136.660004,135.279999,136.660004,21690900,136.660004,0.940003,-393600.0,1.640000,-11124600.0
9129,2017-02-27,137.139999,137.440002,136.279999,136.929993,20196400,136.929993,0.229996,-4068700.0,1.419998,-15305200.0
9130,2017-02-28,137.080002,137.440002,136.699997,136.990005,23403500,136.990005,-0.119996,2658200.0,1.639999,1285500.0
9131,2017-03-01,137.889999,140.149994,137.600006,139.789993,36272400,139.789993,3.259994,15568300.0,4.069992,14187900.0
9132,2017-03-02,140.000000,140.279999,138.759995,138.960007,26153300,138.960007,2.300003,4462400.0,2.260010,1888200.0
9133,2017-03-03,138.779999,139.830002,138.589996,139.779999,21108100,139.779999,2.850006,911700.0,2.669998,362800.0
9134,2017-03-06,139.369995,139.770004,138.600006,139.339996,21155300,139.339996,2.349991,-2248200.0,2.809997,451200.0
9135,2017-03-07,139.059998,139.979996,138.789993,139.520004,17267500,139.520004,-0.269989,-19004900.0,2.860000,-4423400.0
9136,2017-03-08,138.949997,139.800003,138.820007,139.000000,18681800,139.000000,0.039993,-7471500.0,2.070007,-1514600.0
9137,2017-03-09,138.740005,138.789993,137.050003,138.679993,22065200,138.679993,-1.100006,957100.0,1.689988,-1338300.0
9138,2017-03-10,139.250000,139.360001,138.639999,139.139999,19488000,139.139999,-0.199997,-1667300.0,-0.649994,-16784400.0
9139,2017-03-13,138.850006,139.429993,138.820007,139.199997,17042400,139.199997,-0.320007,-225100.0,0.239990,-9110900.0
9140,2017-03-14,139.300003,139.649994,138.839996,138.990005,15189700,138.990005,-0.009995,-3492100.0,-0.789994,-5918400.0
9141,2017-03-15,139.410004,140.750000,139.029999,140.460007,25566800,140.460007,1.780014,3501600.0,1.120011,4411500.0

In [173]:
calc_return(aapl, timespan=timespan, column_slice=["Close", "Volume"], merge_result=True)

,Date,Open,High,Low,Close,Volume,Adj Close,timewindow_return_4_Close,timewindow_return_4_Volume,timewindow_return_7_Close,timewindow_return_7_Volume
0,1980-12-12,28.750000,28.875000,28.750000,28.750000,117258400,0.425000,0.000000,0.000000,0.000000,0.000000
1,1980-12-15,27.375001,27.375001,27.250000,27.250000,43971200,0.402826,0.000000,0.000000,0.000000,0.000000
2,1980-12-16,25.375000,25.375000,25.250000,25.250000,26432000,0.373261,0.000000,0.000000,0.000000,0.000000
3,1980-12-17,25.875000,25.999999,25.875000,25.875000,21610400,0.382500,0.000000,0.000000,0.000000,0.000000
4,1980-12-18,26.625000,26.750000,26.625000,26.625000,18362400,0.393587,-0.073913,-0.843402,0.000000,0.000000
5,1980-12-19,28.249999,28.374999,28.249999,28.249999,12157600,0.417608,0.036697,-0.723510,0.000000,0.000000
6,1980-12-22,29.625000,29.750000,29.625000,29.625000,9340800,0.437934,0.173267,-0.646610,0.000000,0.000000
7,1980-12-23,30.874999,30.999999,30.874999,30.874999,11737600,0.456413,0.193237,-0.456854,0.073913,-0.899900
8,1980-12-24,32.500000,32.624999,32.500000,32.500000,12000800,0.480434,0.220657,-0.346447,0.192661,-0.727076
9,1980-12-26,35.500001,35.625001,35.500001,35.500001,13893600,0.524782,0.256637,0.142791,0.405941,-0.474364
10,1980-12-29,36.000000,36.124999,36.000000,36.000000,23290400,0.532174,0.215190,1.493405,0.391304,0.077740
11,1980-12-30,35.249999,35.249999,35.125000,35.125000,17220000,0.519239,0.137652,0.467080,0.319249,-0.062214
12,1980-12-31,34.250000,34.250000,34.125000,34.125000,8937600,0.504456,0.050000,-0.255250,0.207965,-0.264855
13,1981-01-02,34.499999,34.750001,34.499999,34.499999,5415200,0.510000,-0.028169,-0.610238,0.164557,-0.420264
14,1981-01-05,33.875001,33.875001,33.750001,33.750001,8932000,0.498913,-0.062500,-0.616494,0.093117,-0.239027
15,1981-01-06,32.375000,32.375000,32.250000,32.250000,11289600,0.476739,-0.081851,-0.344390,-0.007692,-0.059263
16,1981-01-07,30.999999,30.999999,30.874999,30.874999,13921600,0.456413,-0.095238,0.557644,-0.130282,0.002015
17,1981-01-08,30.375001,30.375001,30.250001,30.250001,9956800,0.447174,-0.123188,0.838676,-0.159722,-0.572493
18,1981-01-09,31.874999,32.000001,31.874999,31.874999,5376000,0.471195,-0.055556,-0.398119,-0.092527,-0.687805
19,1981-01-12,31.874999,31.874999,31.625000,31.625000,5924800,0.467500,-0.019380,-0.475198,-0.073260,-0.337093
20,1981-01-13,30.625000,30.625000,30.500000,30.500000,5762400,0.450869,-0.012146,-0.586082,-0.115942,0.064116
21,1981-01-14,30.625000,30.750000,30.625000,30.625000,3572800,0.452717,0.012397,-0.641170,-0.092593,-0.600000
22,1981-01-15,31.250001,31.500000,31.250001,31.250001,3516800,0.461956,-0.019608,-0.345833,-0.031008,-0.688492
23,1981-01-16,31.125001,31.125001,30.999999,30.999999,3348800,0.458261,-0.019763,-0.434783,0.004049,-0.759453
24,1981-01-19,32.875001,33.000001,32.875001,32.875001,10393600,0.485978,0.077869,0.803693,0.086777,0.043870
25,1981-01-20,32.000001,32.000001,31.874999,31.874999,7520800,0.471195,0.040816,1.105016,0.000000,0.398958
26,1981-01-21,32.500000,32.749999,32.500000,32.500000,3976000,0.480434,0.040000,0.130573,0.027668,-0.328922
27,1981-01-22,32.875001,33.125000,32.875001,32.875001,8887200,0.485978,0.060484,1.653846,0.077869,0.542274
28,1981-01-23,32.875001,33.000001,32.749999,32.749999,2805600,0.484130,-0.003802,-0.730065,0.069388,-0.214734
29,1981-01-26,32.375000,32.375000,32.250000,32.250000,6160000,0.476739,0.011765,-0.180938,0.032000,0.751592
...,...,...,...,...,...,...,...,...,...,...,...
9111,2017-01-31,121.150002,121.389999,120.620003,121.349998,49201000,120.826147,-0.004349,0.519600,0.011250,0.509330
9112,2017-02-01,127.029999,130.490005,127.010002,128.750000,111985000,128.194203,0.055847,3.251906,0.072202,4.078639
9113,2017-02-02,127.980003,129.389999,127.779999,128.529999,33710400,127.975152,0.053957,0.639380,0.071351,0.452346
9114,2017-02-03,128.309998,129.190002,128.160004,129.080002,24507300,128.522781,0.061251,-0.193242,0.059075,-0.243079
9115,2017-02-06,129.130005,130.500000,128.899994,130.289993,26845900,129.727549,0.073671,-0.454363,0.068476,0.019299
9116,2017-02-07,130.539993,132.089996,130.449997,131.529999,38183800,130.962201,0.021592,-0.659028,0.078557,0.856927
9117,2017-02-08,131.350006,132.220001,131.220001,132.039993,23004100,131.469994,0.027309,-0.317596,0.085587,-0.242726
9118,2017-02-09,131.649994,132.449997,131.119995,132.419998,28349900,132.419998,0.025875,0.156794,0.091224,-0.423794
9119,2017-02-10,132.460007,132.940002,132.050003,132.119995,20065500,132.119995,0.014046,-0.252567,0.026175,-0.820820
9120,2017-02-13,133.080002,133.820007,132.750000,133.289993,23035400,133.289993,0.013381,-0.396723,0.037034,-0.316668
9121,2017-02-14,133.470001,135.089996,133.250000,135.020004,32815500,135.020004,0.022569,0.426507,0.046018,0.339009
9122,2017-02-15,135.520004,136.270004,134.619995,135.509995,35501600,135.509995,0.023335,0.252265,0.040064,0.322422
9123,2017-02-16,135.669998,135.899994,134.839996,135.350006,22118000,135.350006,0.024448,0.102290,0.029043,-0.420749
9124,2017-02-17,135.100006,135.830002,135.100006,135.720001,22084500,135.720001,0.018231,-0.041280,0.027870,-0.039975
9125,2017-02-21,136.229996,136.750000,135.979996,136.699997,24265100,136.699997,0.012443,-0.260560,0.032321,-0.144085
9126,2017-02-22,136.429993,137.119995,136.110001,137.110001,20745300,137.110001,0.011807,-0.415652,0.037769,0.033879
9127,2017-02-23,137.380005,137.479996,136.300003,136.529999,20704100,136.529999,0.008718,-0.063925,0.024308,-0.101205
9128,2017-02-24,135.910004,136.660004,135.279999,136.660004,21690900,136.660004,0.006926,-0.017822,0.012146,-0.339004
9129,2017-02-27,137.139999,137.440002,136.279999,136.929993,20196400,136.929993,0.001682,-0.167677,0.010479,-0.431113
9130,2017-02-28,137.080002,137.440002,136.699997,136.990005,23403500,136.990005,-0.000875,0.128135,0.012117,0.058120
9131,2017-03-01,137.889999,140.149994,137.600006,139.789993,36272400,139.789993,0.023877,0.751943,0.029988,0.642437
9132,2017-03-02,140.000000,140.279999,138.759995,138.960007,26153300,138.960007,0.016830,0.205727,0.016533,0.077815
9133,2017-03-03,138.779999,139.830002,138.589996,139.779999,21108100,139.779999,0.020814,0.045142,0.019473,0.017488
9134,2017-03-06,139.369995,139.770004,138.600006,139.339996,21155300,139.339996,0.017154,-0.096063,0.020582,0.021793
9135,2017-03-07,139.059998,139.979996,138.789993,139.520004,17267500,139.520004,-0.001931,-0.523949,0.020928,-0.203929
9136,2017-03-08,138.949997,139.800003,138.820007,139.000000,18681800,139.000000,0.000288,-0.285681,0.015117,-0.074994
9137,2017-03-09,138.740005,138.789993,137.050003,138.679993,22065200,138.679993,-0.007870,0.045343,0.012337,-0.057184
9138,2017-03-10,139.250000,139.360001,138.639999,139.139999,19488000,139.139999,-0.001435,-0.078812,-0.004650,-0.462732
9139,2017-03-13,138.850006,139.429993,138.820007,139.199997,17042400,139.199997,-0.002294,-0.013036,0.001727,-0.348365
9140,2017-03-14,139.300003,139.649994,138.839996,138.990005,15189700,138.990005,-0.000072,-0.186925,-0.005652,-0.280385

In [174]:
calc_sma(aapl, timespan, ["Close", "Volume"], merge_result=True)

,Date,Open,High,Low,Close,Volume,Adj Close,Close_roll_mean_4,Volume_roll_mean_4,Close_roll_mean_7,Volume_roll_mean_7
0,1980-12-12,28.750000,28.875000,28.750000,28.750000,117258400,0.425000,26.781250,52318000.0,27.375000,3.559040e+07
1,1980-12-15,27.375001,27.375001,27.250000,27.250000,43971200,0.402826,26.781250,52318000.0,27.375000,3.559040e+07
2,1980-12-16,25.375000,25.375000,25.250000,25.250000,26432000,0.373261,26.781250,52318000.0,27.375000,3.559040e+07
3,1980-12-17,25.875000,25.999999,25.875000,25.875000,21610400,0.382500,26.781250,52318000.0,27.375000,3.559040e+07
4,1980-12-18,26.625000,26.750000,26.625000,26.625000,18362400,0.393587,26.250000,27594000.0,27.375000,3.559040e+07
5,1980-12-19,28.249999,28.374999,28.249999,28.249999,12157600,0.417608,26.500000,19640600.0,27.375000,3.559040e+07
6,1980-12-22,29.625000,29.750000,29.625000,29.625000,9340800,0.437934,27.593750,15367800.0,27.375000,3.559040e+07
7,1980-12-23,30.874999,30.999999,30.874999,30.874999,11737600,0.456413,28.843750,12899600.0,27.678571,2.051600e+07
8,1980-12-24,32.500000,32.624999,32.500000,32.500000,12000800,0.480434,30.312500,11309200.0,28.428571,1.594880e+07
9,1980-12-26,35.500001,35.625001,35.500001,35.500001,13893600,0.524782,32.125000,11743200.0,29.892857,1.415760e+07
10,1980-12-29,36.000000,36.124999,36.000000,36.000000,23290400,0.532174,33.718750,15230600.0,31.339286,1.439760e+07
11,1980-12-30,35.249999,35.249999,35.125000,35.125000,17220000,0.519239,34.781250,16601200.0,32.553571,1.423440e+07
12,1980-12-31,34.250000,34.250000,34.125000,34.125000,8937600,0.504456,35.187500,15835400.0,33.392857,1.377440e+07
13,1981-01-02,34.499999,34.750001,34.499999,34.499999,5415200,0.510000,34.937500,13715800.0,34.089286,1.321360e+07
14,1981-01-05,33.875001,33.875001,33.750001,33.750001,8932000,0.498913,34.375000,10126200.0,34.500000,1.281280e+07
15,1981-01-06,32.375000,32.375000,32.250000,32.250000,11289600,0.476739,33.656250,8643600.0,34.464286,1.271120e+07
16,1981-01-07,30.999999,30.999999,30.874999,30.874999,13921600,0.456413,32.843750,9889600.0,33.803571,1.271520e+07
17,1981-01-08,30.375001,30.375001,30.250001,30.250001,9956800,0.447174,31.781250,11025000.0,32.982143,1.081040e+07
18,1981-01-09,31.874999,32.000001,31.874999,31.874999,5376000,0.471195,31.312500,10136000.0,32.517857,9.118400e+06
19,1981-01-12,31.874999,31.874999,31.625000,31.625000,5924800,0.467500,31.156250,8794800.0,32.160714,8.688000e+06
20,1981-01-13,30.625000,30.625000,30.500000,30.500000,5762400,0.450869,31.062500,6755000.0,31.589286,8.737600e+06
21,1981-01-14,30.625000,30.750000,30.625000,30.625000,3572800,0.452717,31.156250,5159000.0,31.142857,7.972000e+06
22,1981-01-15,31.250001,31.500000,31.250001,31.250001,3516800,0.461956,31.000000,4694200.0,31.000000,6.861600e+06
23,1981-01-16,31.125001,31.125001,30.999999,30.999999,3348800,0.458261,30.843750,4050200.0,31.017857,5.351200e+06
24,1981-01-19,32.875001,33.000001,32.875001,32.875001,10393600,0.485978,31.437500,5208000.0,31.392857,5.413600e+06
25,1981-01-20,32.000001,32.000001,31.874999,31.874999,7520800,0.471195,31.750000,6195000.0,31.392857,5.720000e+06
26,1981-01-21,32.500000,32.749999,32.500000,32.500000,3976000,0.480434,32.062500,6309800.0,31.517857,5.441600e+06
27,1981-01-22,32.875001,33.125000,32.875001,32.875001,8887200,0.485978,32.531250,7694400.0,31.857143,5.888000e+06
28,1981-01-23,32.875001,33.000001,32.749999,32.749999,2805600,0.484130,32.500000,5797400.0,32.160714,5.778400e+06
29,1981-01-26,32.375000,32.375000,32.250000,32.250000,6160000,0.476739,32.593750,5457200.0,32.303571,6.156000e+06
...,...,...,...,...,...,...,...,...,...,...,...
9111,2017-01-31,121.150002,121.389999,120.620003,121.349998,49201000,120.826147,121.717499,31619750.0,121.257142,2.915969e+07
9112,2017-02-01,127.029999,130.490005,127.010002,128.750000,111985000,128.194203,123.419998,53031600.0,122.495713,4.200751e+07
9113,2017-02-02,127.980003,129.389999,127.779999,128.529999,33710400,127.975152,125.064999,56318475.0,123.718570,4.350743e+07
9114,2017-02-03,128.309998,129.190002,128.160004,129.080002,24507300,128.522781,126.927500,54850925.0,124.747142,4.238310e+07
9115,2017-02-06,129.130005,130.500000,128.899994,130.289993,26845900,129.727549,129.162499,49262150.0,125.939998,4.245571e+07
9116,2017-02-07,130.539993,132.089996,130.449997,131.529999,38183800,130.962201,129.857498,30811850.0,127.308570,4.497299e+07
9117,2017-02-08,131.350006,132.220001,131.220001,132.039993,23004100,131.469994,130.734997,28135275.0,128.795712,4.391964e+07
9118,2017-02-09,131.649994,132.449997,131.119995,132.419998,28349900,132.419998,131.569996,29095925.0,130.377141,4.094091e+07
9119,2017-02-10,132.460007,132.940002,132.050003,132.119995,20065500,132.119995,132.027496,27400825.0,130.858568,2.780956e+07
9120,2017-02-13,133.080002,133.820007,132.750000,133.289993,23035400,133.289993,132.467495,23613725.0,131.538568,2.628456e+07
9121,2017-02-14,133.470001,135.089996,133.250000,135.020004,32815500,135.020004,133.212498,26066575.0,132.387139,2.747144e+07
9122,2017-02-15,135.520004,136.270004,134.619995,135.509995,35501600,135.509995,133.984997,27854500.0,133.132854,2.870797e+07
9123,2017-02-16,135.669998,135.899994,134.839996,135.350006,22118000,135.350006,134.792500,28367625.0,133.678569,2.641286e+07
9124,2017-02-17,135.100006,135.830002,135.100006,135.720001,22084500,135.720001,135.400002,28129900.0,134.204285,2.628149e+07
9125,2017-02-21,136.229996,136.750000,135.979996,136.699997,24265100,136.699997,135.820000,25992300.0,134.815713,2.569794e+07
9126,2017-02-22,136.429993,137.119995,136.110001,137.110001,20745300,137.110001,136.220001,22303225.0,135.528571,2.579506e+07
9127,2017-02-23,137.380005,137.479996,136.300003,136.529999,20704100,136.529999,136.515000,21949750.0,135.991429,2.546201e+07
9128,2017-02-24,135.910004,136.660004,135.279999,136.660004,21690900,136.660004,136.750000,21851350.0,136.225715,2.387279e+07
9129,2017-02-27,137.139999,137.440002,136.279999,136.929993,20196400,136.929993,136.807499,20834175.0,136.428572,2.168633e+07
9130,2017-02-28,137.080002,137.440002,136.699997,136.990005,23403500,136.990005,136.777500,21498725.0,136.662857,2.186997e+07
9131,2017-03-01,137.889999,140.149994,137.600006,139.789993,36272400,139.789993,137.592499,25390800.0,137.244285,2.389681e+07
9132,2017-03-02,140.000000,140.279999,138.759995,138.960007,26153300,138.960007,138.167500,26506400.0,137.567143,2.416656e+07
9133,2017-03-03,138.779999,139.830002,138.589996,139.779999,21108100,139.779999,138.880001,26734325.0,137.948571,2.421839e+07
9134,2017-03-06,139.369995,139.770004,138.600006,139.339996,21155300,139.339996,139.467499,26172275.0,138.350000,2.428284e+07
9135,2017-03-07,139.059998,139.979996,138.789993,139.520004,17267500,139.520004,139.400002,21421050.0,138.758571,2.365093e+07
9136,2017-03-08,138.949997,139.800003,138.820007,139.000000,18681800,139.000000,139.410000,19553175.0,139.054286,2.343456e+07
9137,2017-03-09,138.740005,138.789993,137.050003,138.679993,22065200,138.679993,139.134998,19792450.0,139.295713,2.324337e+07
9138,2017-03-10,139.250000,139.360001,138.639999,139.139999,19488000,139.139999,139.084999,19375625.0,139.202857,2.084560e+07
9139,2017-03-13,138.850006,139.429993,138.820007,139.199997,17042400,139.199997,139.004997,19319350.0,139.237141,1.954404e+07
9140,2017-03-14,139.300003,139.649994,138.839996,138.990005,15189700,138.990005,139.002499,18446325.0,139.124285,1.869856e+07

In [175]:
calc_bollinger(aapl, timespan, ["Close", "Volume"], merge_result=True, scaler=2)

,Date,Open,High,Low,Close,Volume,Adj Close,Close_roll_2std_4,Close_bollinger_4_up,Close_bollinger_4_low,Close_roll_2std_7,Close_bollinger_7_up,Close_bollinger_7_low,Volume_roll_2std_4,Volume_bollinger_4_up,Volume_bollinger_4_low,Volume_roll_2std_7,Volume_bollinger_7_up,Volume_bollinger_7_low
0,1980-12-12,28.750000,28.875000,28.750000,28.750000,117258400,0.425000,3.111638,31.861638,25.638362,3.168859,31.918859,25.581141,8.869398e+07,2.059524e+08,2.856442e+07,7.551670e+07,1.927751e+08,4.174170e+07
1,1980-12-15,27.375001,27.375001,27.250000,27.250000,43971200,0.402826,3.111638,30.361638,24.138362,3.168859,30.418859,24.081141,8.869398e+07,1.326652e+08,-4.472278e+07,7.551670e+07,1.194879e+08,-3.154550e+07
2,1980-12-16,25.375000,25.375000,25.250000,25.250000,26432000,0.373261,3.111638,28.361638,22.138362,3.168859,28.418859,22.081141,8.869398e+07,1.151260e+08,-6.226198e+07,7.551670e+07,1.019487e+08,-4.908470e+07
3,1980-12-17,25.875000,25.999999,25.875000,25.875000,21610400,0.382500,3.111638,28.986638,22.763362,3.168859,29.043859,22.706141,8.869398e+07,1.103044e+08,-6.708358e+07,7.551670e+07,9.712710e+07,-5.390630e+07
4,1980-12-18,26.625000,26.750000,26.625000,26.625000,18362400,0.393587,1.744037,28.369037,24.880963,3.168859,29.793859,23.456141,2.282072e+07,4.118312e+07,-4.458317e+06,7.551670e+07,9.387910e+07,-5.715430e+07
5,1980-12-19,28.249999,28.374999,28.249999,28.249999,12157600,0.417608,2.590044,30.840043,25.659955,3.168859,31.418858,25.081140,1.197956e+07,2.413716e+07,1.780446e+05,7.551670e+07,8.767430e+07,-6.335910e+07
6,1980-12-22,29.625000,29.750000,29.625000,29.625000,9340800,0.437934,3.356430,32.981430,26.268570,3.168859,32.793859,26.456141,1.122900e+07,2.056980e+07,-1.888198e+06,7.551670e+07,8.485750e+07,-6.617590e+07
7,1980-12-23,30.874999,30.999999,30.874999,30.874999,11737600,0.456413,3.653622,34.528621,27.221377,4.064216,34.939215,26.810783,7.694851e+06,1.943245e+07,4.042749e+06,2.398318e+07,3.572078e+07,-1.224558e+07
8,1980-12-24,32.500000,32.624999,32.500000,32.500000,12000800,0.480434,3.619968,36.119968,28.880032,5.409977,37.909977,27.090023,2.647318e+06,1.464812e+07,9.353482e+06,1.262633e+07,2.462713e+07,-6.255331e+05
9,1980-12-26,35.500001,35.625001,35.500001,35.500001,13893600,0.524782,5.078551,40.578552,30.421450,6.772230,42.272231,28.727771,3.734905e+06,1.762850e+07,1.015870e+07,8.602481e+06,2.249608e+07,5.291119e+06
10,1980-12-29,36.000000,36.124999,36.000000,36.000000,23290400,0.532174,4.892065,40.892065,31.107935,7.085365,43.085365,28.914635,1.091669e+07,3.420709e+07,1.237371e+07,9.607796e+06,3.289820e+07,1.368260e+07
11,1980-12-30,35.249999,35.249999,35.125000,35.125000,17220000,0.519239,3.125000,38.250000,32.000000,6.169241,41.294241,28.955759,9.907781e+06,2.712778e+07,7.312219e+06,9.328254e+06,2.654825e+07,7.891746e+06
12,1980-12-31,34.250000,34.250000,34.125000,34.125000,8937600,0.504456,1.587714,35.712714,32.537286,4.906265,39.031265,29.218735,1.204682e+07,2.098442e+07,-3.109218e+06,1.009245e+07,1.903005e+07,-1.154849e+06
13,1981-01-02,34.499999,34.750001,34.499999,34.499999,5415200,0.510000,1.639360,36.139359,32.860639,3.627771,38.127770,30.872228,1.615275e+07,2.156795e+07,-1.073755e+07,1.157020e+07,1.698540e+07,-6.154998e+06
14,1981-01-05,33.875001,33.875001,33.750001,33.750001,8932000,0.498913,1.172603,34.922604,32.577398,2.358495,36.108496,31.391506,1.002360e+07,1.895560e+07,-1.091599e+06,1.199537e+07,2.092737e+07,-3.063367e+06
15,1981-01-06,32.375000,32.375000,32.250000,32.250000,11289600,0.476739,1.972466,34.222466,30.277534,2.502974,34.752974,29.747026,4.843345e+06,1.613295e+07,6.446255e+06,1.203943e+07,2.332903e+07,-7.498294e+05
16,1981-01-07,30.999999,30.999999,30.874999,30.874999,13921600,0.456413,3.223450,34.098449,27.651549,3.478677,34.353676,27.396322,7.225351e+06,2.114695e+07,6.696249e+06,1.204128e+07,2.596288e+07,1.880319e+06
17,1981-01-08,30.375001,30.375001,30.250001,30.250001,9956800,0.447174,3.111639,33.361640,27.138362,3.762281,34.012282,26.487720,4.317716e+06,1.427452e+07,5.639084e+06,7.653529e+06,1.761033e+07,2.303271e+06
18,1981-01-09,31.874999,32.000001,31.874999,31.874999,5376000,0.471195,1.831438,33.706437,30.043561,3.302236,35.177235,28.572763,7.150876e+06,1.252688e+07,-1.774876e+06,6.125054e+06,1.150105e+07,-7.490543e+05
19,1981-01-12,31.874999,31.874999,31.625000,31.625000,5924800,0.467500,1.477257,33.102257,30.147743,3.019776,34.644776,28.605224,7.963200e+06,1.388800e+07,-2.038400e+06,6.590100e+06,1.251490e+07,-6.652996e+05
20,1981-01-13,30.625000,30.625000,30.500000,30.500000,5762400,0.450869,1.613742,32.113742,28.886258,2.405352,32.905352,28.094648,4.293817e+06,1.005622e+07,1.468583e+06,6.479445e+06,1.224185e+07,-7.170451e+05
21,1981-01-14,30.625000,30.750000,30.625000,30.625000,3572800,0.452717,1.390068,32.015068,29.234932,1.537236,32.162236,29.087764,2.164459e+06,5.737259e+06,1.408341e+06,7.550240e+06,1.112304e+07,-3.977440e+06
22,1981-01-15,31.250001,31.500000,31.250001,31.250001,3516800,0.461956,1.060660,32.310661,30.189341,1.207614,32.457615,30.042387,2.658129e+06,6.174929e+06,8.586713e+05,7.559568e+06,1.107637e+07,-4.042768e+06
23,1981-01-16,31.125001,31.125001,30.999999,30.999999,3348800,0.458261,0.688447,31.688446,30.311552,1.202675,32.202674,29.797324,2.290856e+06,5.639656e+06,1.057944e+06,4.636637e+06,7.985437e+06,-1.287837e+06
24,1981-01-19,32.875001,33.000001,32.875001,32.875001,10393600,0.485978,1.984315,34.859316,30.890686,1.642081,34.517082,31.232920,6.916753e+06,1.731035e+07,3.476847e+06,4.928461e+06,1.532206e+07,5.465139e+06
25,1981-01-20,32.000001,32.000001,31.874999,31.874999,7520800,0.471195,1.670829,33.545828,30.204170,1.642081,33.517080,30.232918,6.797999e+06,1.431880e+07,7.228006e+05,5.177921e+06,1.269872e+07,2.342879e+06
26,1981-01-21,32.500000,32.749999,32.500000,32.500000,3976000,0.480434,1.639361,34.139361,30.860639,1.845200,34.345200,30.654800,6.568418e+06,1.054442e+07,-2.592418e+06,5.333751e+06,9.309751e+06,-1.357751e+06
27,1981-01-22,32.875001,33.125000,32.875001,32.875001,8887200,0.485978,0.943731,33.818732,31.931270,1.845201,34.720202,31.029800,5.485142e+06,1.437234e+07,3.402058e+06,5.946858e+06,1.483406e+07,2.940342e+06
28,1981-01-23,32.875001,33.000001,32.749999,32.749999,2805600,0.484130,0.889758,33.639757,31.860241,1.579256,34.329255,31.170743,5.748662e+06,8.554262e+06,-2.943062e+06,6.170070e+06,8.975670e+06,-3.364470e+06
29,1981-01-26,32.375000,32.375000,32.250000,32.250000,6160000,0.476739,0.554339,32.804339,31.695661,1.360586,33.610586,30.889414,5.352104e+06,1.151210e+07,8.078959e+05,5.838799e+06,1.199880e+07,3.212014e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9111,2017-01-31,121.150002,121.389999,120.620003,121.349998,49201000,120.826147,0.573035,121.923033,120.776963,1.736726,123.086724,119.613272,2.478706e+07,7.398806e+07,2.441394e+07,1.968575e+07,6.888675e+07,2.951525e+07
9112,2017-02-01,127.029999,130.490005,127.010002,128.750000,111985000,128.194203,7.123560,135.873560,121.626440,5.688771,134.438771,123.061229,8.211863e+07,1.941036e+08,2.986637e+07,6.447384e+07,1.764588e+08,4.751116e+07
9113,2017-02-02,127.980003,129.389999,127.779999,128.529999,33710400,127.975152,8.261229,136.791228,120.268770,6.738393,135.268392,121.791606,7.601298e+07,1.097234e+08,-4.230258e+07,6.290256e+07,9.661296e+07,-2.919216e+07
9114,2017-02-03,128.309998,129.190002,128.160004,129.080002,24507300,128.522781,7.450396,136.530398,121.629606,7.574862,136.654864,121.505140,7.885752e+07,1.033648e+08,-5.435022e+07,6.410087e+07,8.860817e+07,-3.959357e+07
9115,2017-02-06,129.130005,130.500000,128.899994,130.289993,26845900,129.727549,1.569824,131.859817,128.720169,8.122012,138.412005,122.167981,8.399447e+07,1.108404e+08,-5.714857e+07,6.401714e+07,9.086304e+07,-3.717124e+07
9116,2017-02-07,130.539993,132.089996,130.449997,131.529999,38183800,130.962201,2.671096,134.201095,128.858903,8.212499,139.742498,123.317500,1.255512e+07,5.073892e+07,2.562868e+07,6.132911e+07,9.951291e+07,-2.314531e+07
9117,2017-02-08,131.350006,132.220001,131.220001,132.039993,23004100,131.469994,2.651309,134.691302,129.388684,7.109933,139.149926,124.930060,1.376597e+07,3.677007e+07,9.238127e+06,6.273609e+07,8.574019e+07,-3.973199e+07
9118,2017-02-09,131.649994,132.449997,131.119995,132.419998,28349900,132.419998,1.855948,134.275946,130.564050,3.267732,135.687730,129.152266,1.292641e+07,4.127631e+07,1.542349e+07,6.354075e+07,9.189065e+07,-3.519085e+07
9119,2017-02-10,132.460007,132.940002,132.050003,132.119995,20065500,132.119995,0.739616,132.859611,131.380379,3.139496,135.259491,128.980499,1.592949e+07,3.599499e+07,4.136011e+06,1.258659e+07,3.265209e+07,7.478914e+06
9120,2017-02-13,133.080002,133.820007,132.750000,133.289993,23035400,133.289993,1.144420,134.434413,132.145573,2.832838,136.122831,130.457155,6.901918e+06,2.993732e+07,1.613348e+07,1.181317e+07,3.484857e+07,1.122223e+07
9121,2017-02-14,133.470001,135.089996,133.250000,135.020004,32815500,135.020004,2.606326,137.626330,132.413678,2.952151,137.972155,132.067853,1.131150e+07,4.412700e+07,2.150400e+07,1.262168e+07,4.543718e+07,2.019382e+07
9122,2017-02-15,135.520004,136.270004,134.619995,135.509995,35501600,135.509995,3.132224,138.642219,132.377771,3.112808,138.622803,132.397187,1.492121e+07,5.042281e+07,2.058039e+07,1.396064e+07,4.946224e+07,2.154096e+07
9123,2017-02-16,135.669998,135.899994,134.839996,135.350006,22118000,135.350006,2.044471,137.394477,133.305535,3.140737,138.490743,132.209269,1.357290e+07,3.569090e+07,8.545104e+06,1.180714e+07,3.392514e+07,1.031086e+07
9124,2017-02-17,135.100006,135.830002,135.100006,135.720001,22084500,135.720001,0.590362,136.310363,135.129639,3.092380,138.812381,132.627621,1.409428e+07,3.617878e+07,7.990217e+06,1.200297e+07,3.408747e+07,1.008153e+07
9125,2017-02-21,136.229996,136.750000,135.979996,136.699997,24265100,136.699997,1.211826,137.911823,135.488171,3.138175,139.838172,133.561822,1.284218e+07,3.710728e+07,1.142292e+07,1.193066e+07,3.619576e+07,1.233444e+07
9126,2017-02-22,136.429993,137.119995,136.110001,137.110001,20745300,137.110001,1.644947,138.754948,135.465054,2.478159,139.588160,134.631842,2.911639e+06,2.365694e+07,1.783366e+07,1.172601e+07,3.247131e+07,9.019286e+06
9127,2017-02-23,137.380005,137.479996,136.300003,136.529999,20704100,136.529999,1.166475,137.696474,135.363524,1.571384,138.101383,134.958615,3.342922e+06,2.404702e+07,1.736118e+07,1.221406e+07,3.291816e+07,8.490042e+06
9128,2017-02-24,135.910004,136.660004,135.279999,136.660004,21690900,136.660004,0.501466,137.161470,136.158538,1.371852,138.031856,135.288152,3.344939e+06,2.503584e+07,1.834596e+07,1.052751e+07,3.221841e+07,1.116339e+07
9129,2017-02-27,137.139999,137.440002,136.279999,136.929993,20196400,136.929993,0.523161,137.453154,136.406832,1.295805,138.225798,135.634188,1.246624e+06,2.144302e+07,1.894978e+07,2.716021e+06,2.291242e+07,1.748038e+07
9130,2017-02-28,137.080002,137.440002,136.699997,136.990005,23403500,136.990005,0.437378,137.427383,136.552627,0.926046,137.916051,136.063959,2.826677e+06,2.623018e+07,2.057682e+07,3.010141e+06,2.641364e+07,2.039336e+07
9131,2017-03-01,137.889999,140.149994,137.600006,139.789993,36272400,139.789993,2.944020,142.734013,136.845973,2.281803,142.071796,137.508190,1.474357e+07,5.101597e+07,2.152883e+07,1.132015e+07,4.759255e+07,2.495225e+07
9132,2017-03-02,140.000000,140.279999,138.759995,138.960007,26153300,138.960007,2.870184,141.830191,136.089823,2.546596,141.506603,136.413411,1.390173e+07,4.005503e+07,1.225157e+07,1.145034e+07,3.760364e+07,1.470296e+07
9133,2017-03-03,138.779999,139.830002,138.589996,139.779999,21108100,139.779999,2.637314,142.417313,137.142685,2.988541,142.768540,136.791458,1.336968e+07,3.447778e+07,7.738419e+06,1.138115e+07,3.248925e+07,9.726951e+06
9134,2017-03-06,139.369995,139.770004,138.600006,139.339996,21155300,139.339996,0.796211,140.136207,138.543785,2.851055,142.191051,136.488941,1.427486e+07,3.543016e+07,6.880437e+06,1.129304e+07,3.244834e+07,9.862263e+06
9135,2017-03-07,139.059998,139.979996,138.789993,139.520004,17267500,139.520004,0.688955,140.208959,138.831049,2.521518,142.041522,136.998486,7.286035e+06,2.455353e+07,9.981465e+06,1.240969e+07,2.967719e+07,4.857808e+06
9136,2017-03-08,138.949997,139.800003,138.820007,139.000000,18681800,139.000000,0.655236,139.655236,138.344764,1.938993,140.938993,137.061007,3.824169e+06,2.250597e+07,1.485763e+07,1.273922e+07,3.142102e+07,5.942584e+06
9137,2017-03-09,138.740005,138.789993,137.050003,138.679993,22065200,138.679993,0.744319,139.424312,137.935674,0.860375,139.540368,137.819618,4.416887e+06,2.648209e+07,1.764831e+07,1.278149e+07,3.484669e+07,9.283709e+06
9138,2017-03-10,139.250000,139.360001,138.639999,139.139999,19488000,139.139999,0.696189,139.836188,138.443810,0.743840,139.883839,138.396159,4.028569e+06,2.351657e+07,1.545943e+07,5.724324e+06,2.521232e+07,1.376368e+07
9139,2017-03-13,138.850006,139.429993,138.820007,139.199997,17042400,139.199997,0.464619,139.664616,138.735378,0.713093,139.913090,138.486904,4.188732e+06,2.123113e+07,1.285367e+07,3.965360e+06,2.100776e+07,1.307704e+07
9140,2017-03-14,139.300003,139.649994,138.839996,138.990005,15189700,138.990005,0.464870,139.454875,138.525135,0.541589,139.531594,138.448416,5.973046e+06,2.116275e+07,9.216654e+06,4.837095e+06,2.002679e+07,1.035261e+07

In [176]:
sp500 = load_raw_frame("^GSPC")

In [177]:
sp500_i = sp500.set_index("Date")
aapl_i = aapl.set_index("Date")

In [178]:
joined_df = pd.merge(aapl_i.loc[:,["Close"]], sp500_i.loc[:,["Close"]], how="left", left_index=True, right_index=True)

In [180]:
beta_df = timewindow_alphabeta(aapl, sp500, ["Close", "Open"], 10, merge_result=False)
beta_df.head()

,timewindow_beta_10_Close,timewindow_alpha_10_Close,timewindow_beta_10_Open,timewindow_alpha_10_Open
Date,,,,
1980-12-12,0.0,0.0,0.0,0.0
1980-12-15,0.0,0.0,0.0,0.0
1980-12-16,0.0,0.0,0.0,0.0
1980-12-17,0.0,0.0,0.0,0.0
1980-12-18,0.0,0.0,0.0,0.0

In [181]:
beta_df

,timewindow_beta_10_Close,timewindow_alpha_10_Close,timewindow_beta_10_Open,timewindow_alpha_10_Open
Date,,,,
1980-12-12,0.000000,0.000000,0.000000,0.000000
1980-12-15,0.000000,0.000000,0.000000,0.000000
1980-12-16,0.000000,0.000000,0.000000,0.000000
1980-12-17,0.000000,0.000000,0.000000,0.000000
1980-12-18,0.000000,0.000000,0.000000,0.000000
1980-12-19,0.000000,0.000000,0.000000,0.000000
1980-12-22,0.000000,0.000000,0.000000,0.000000
1980-12-23,0.000000,0.000000,0.000000,0.000000
1980-12-24,0.000000,0.000000,0.000000,0.000000
1980-12-26,0.602909,115.725489,0.677632,112.616838
1980-12-29,0.462633,120.045095,0.619529,114.778042
1980-12-30,0.362929,123.315977,0.516770,118.013307
1980-12-31,0.272490,126.354180,0.429095,120.902241
1981-01-02,0.251707,127.135722,0.338642,123.973178
1981-01-05,0.193142,129.387471,0.340008,124.027490
1981-01-06,-0.035484,137.394066,0.173241,129.966773
1981-01-07,-0.001231,136.179306,-0.069779,138.343462
1981-01-08,0.225218,128.372000,0.006803,135.699679
1981-01-09,0.319368,124.999134,0.121897,131.620468
1981-01-12,0.368983,123.178736,0.206135,128.633196
1981-01-13,0.629617,114.740313,0.244773,127.179402
1981-01-14,0.873622,107.020322,0.447902,120.590561
1981-01-15,1.018467,102.518674,0.567219,116.740151
1981-01-16,1.410476,90.409048,0.739621,111.346924
1981-01-19,0.828619,108.391856,0.548543,117.263761
1981-01-20,-0.015581,134.178299,-0.047695,135.623822
1981-01-21,-0.262831,141.581753,-0.270840,142.225839
1981-01-22,-0.851694,160.037691,-0.378254,145.333306
1981-01-23,-1.096102,167.556352,-0.734867,156.453710
1981-01-26,-1.198070,170.504536,-0.878397,160.745840
...,...,...,...,...
2017-01-31,11.642928,873.037655,11.596758,881.089267
2017-02-01,1.251145,2128.627324,2.449945,1983.852351
2017-02-02,0.294377,2246.556085,0.735989,2191.558105
2017-02-03,0.572523,2214.544241,0.627913,2206.122111
2017-02-06,0.158967,2268.198686,0.511659,2222.594772
2017-02-07,0.047792,2283.289855,0.169119,2267.624954
2017-02-08,0.451859,2231.672412,0.191761,2264.653691
2017-02-09,1.211181,2135.309142,0.762443,2191.780713
2017-02-10,2.196812,2009.294779,1.891016,2047.801785
2017-02-13,3.356260,1860.809625,3.386684,1855.733121
2017-02-14,8.176562,1229.153197,6.170566,1493.474158
2017-02-15,8.923136,1132.060825,7.319842,1342.278119
2017-02-16,9.587602,1044.460842,8.079549,1243.573203
2017-02-17,11.906598,734.279305,9.349292,1074.916023
2017-02-21,13.008930,586.249738,11.252891,820.197245
2017-02-22,12.059992,713.623372,12.374163,669.735177
2017-02-23,11.086410,846.533664,11.628518,770.506269
2017-02-24,10.527539,923.451696,11.084278,844.995929
2017-02-27,11.473788,795.172752,10.929608,866.076607
2017-02-28,13.083336,575.162225,11.358816,807.771585
2017-03-01,10.819780,884.253245,13.460079,521.466066
2017-03-02,10.032198,991.744418,10.669395,903.350237
2017-03-03,8.439390,1209.928334,10.299478,953.910347
2017-03-06,7.047734,1401.168434,8.496674,1200.838175
2017-03-07,5.901087,1557.903858,7.320806,1362.173505
2017-03-08,5.031013,1677.179407,6.818738,1430.562408
2017-03-09,4.908720,1693.149164,6.416043,1484.923524
2017-03-10,5.534903,1605.535450,5.585230,1599.631888
2017-03-13,7.754902,1295.984384,5.450722,1617.979183
2017-03-14,19.401161,-327.010664,5.198023,1652.146035

In [182]:
beta_df

,timewindow_beta_10_Close,timewindow_alpha_10_Close,timewindow_beta_10_Open,timewindow_alpha_10_Open
Date,,,,
1980-12-12,0.000000,0.000000,0.000000,0.000000
1980-12-15,0.000000,0.000000,0.000000,0.000000
1980-12-16,0.000000,0.000000,0.000000,0.000000
1980-12-17,0.000000,0.000000,0.000000,0.000000
1980-12-18,0.000000,0.000000,0.000000,0.000000
1980-12-19,0.000000,0.000000,0.000000,0.000000
1980-12-22,0.000000,0.000000,0.000000,0.000000
1980-12-23,0.000000,0.000000,0.000000,0.000000
1980-12-24,0.000000,0.000000,0.000000,0.000000
1980-12-26,0.602909,115.725489,0.677632,112.616838
1980-12-29,0.462633,120.045095,0.619529,114.778042
1980-12-30,0.362929,123.315977,0.516770,118.013307
1980-12-31,0.272490,126.354180,0.429095,120.902241
1981-01-02,0.251707,127.135722,0.338642,123.973178
1981-01-05,0.193142,129.387471,0.340008,124.027490
1981-01-06,-0.035484,137.394066,0.173241,129.966773
1981-01-07,-0.001231,136.179306,-0.069779,138.343462
1981-01-08,0.225218,128.372000,0.006803,135.699679
1981-01-09,0.319368,124.999134,0.121897,131.620468
1981-01-12,0.368983,123.178736,0.206135,128.633196
1981-01-13,0.629617,114.740313,0.244773,127.179402
1981-01-14,0.873622,107.020322,0.447902,120.590561
1981-01-15,1.018467,102.518674,0.567219,116.740151
1981-01-16,1.410476,90.409048,0.739621,111.346924
1981-01-19,0.828619,108.391856,0.548543,117.263761
1981-01-20,-0.015581,134.178299,-0.047695,135.623822
1981-01-21,-0.262831,141.581753,-0.270840,142.225839
1981-01-22,-0.851694,160.037691,-0.378254,145.333306
1981-01-23,-1.096102,167.556352,-0.734867,156.453710
1981-01-26,-1.198070,170.504536,-0.878397,160.745840
...,...,...,...,...
2017-01-31,11.642928,873.037655,11.596758,881.089267
2017-02-01,1.251145,2128.627324,2.449945,1983.852351
2017-02-02,0.294377,2246.556085,0.735989,2191.558105
2017-02-03,0.572523,2214.544241,0.627913,2206.122111
2017-02-06,0.158967,2268.198686,0.511659,2222.594772
2017-02-07,0.047792,2283.289855,0.169119,2267.624954
2017-02-08,0.451859,2231.672412,0.191761,2264.653691
2017-02-09,1.211181,2135.309142,0.762443,2191.780713
2017-02-10,2.196812,2009.294779,1.891016,2047.801785
2017-02-13,3.356260,1860.809625,3.386684,1855.733121
2017-02-14,8.176562,1229.153197,6.170566,1493.474158
2017-02-15,8.923136,1132.060825,7.319842,1342.278119
2017-02-16,9.587602,1044.460842,8.079549,1243.573203
2017-02-17,11.906598,734.279305,9.349292,1074.916023
2017-02-21,13.008930,586.249738,11.252891,820.197245
2017-02-22,12.059992,713.623372,12.374163,669.735177
2017-02-23,11.086410,846.533664,11.628518,770.506269
2017-02-24,10.527539,923.451696,11.084278,844.995929
2017-02-27,11.473788,795.172752,10.929608,866.076607
2017-02-28,13.083336,575.162225,11.358816,807.771585
2017-03-01,10.819780,884.253245,13.460079,521.466066
2017-03-02,10.032198,991.744418,10.669395,903.350237
2017-03-03,8.439390,1209.928334,10.299478,953.910347
2017-03-06,7.047734,1401.168434,8.496674,1200.838175
2017-03-07,5.901087,1557.903858,7.320806,1362.173505
2017-03-08,5.031013,1677.179407,6.818738,1430.562408
2017-03-09,4.908720,1693.149164,6.416043,1484.923524
2017-03-10,5.534903,1605.535450,5.585230,1599.631888
2017-03-13,7.754902,1295.984384,5.450722,1617.979183
2017-03-14,19.401161,-327.010664,5.198023,1652.146035

In [183]:
pd.merge(aapl,beta_df,left_on='Date',right_index=True)

,Date,Open,High,Low,Close,Volume,Adj Close,timewindow_beta_10_Close,timewindow_alpha_10_Close,timewindow_beta_10_Open,timewindow_alpha_10_Open
0,1980-12-12,28.750000,28.875000,28.750000,28.750000,117258400,0.425000,0.000000,0.000000,0.000000,0.000000
1,1980-12-15,27.375001,27.375001,27.250000,27.250000,43971200,0.402826,0.000000,0.000000,0.000000,0.000000
2,1980-12-16,25.375000,25.375000,25.250000,25.250000,26432000,0.373261,0.000000,0.000000,0.000000,0.000000
3,1980-12-17,25.875000,25.999999,25.875000,25.875000,21610400,0.382500,0.000000,0.000000,0.000000,0.000000
4,1980-12-18,26.625000,26.750000,26.625000,26.625000,18362400,0.393587,0.000000,0.000000,0.000000,0.000000
5,1980-12-19,28.249999,28.374999,28.249999,28.249999,12157600,0.417608,0.000000,0.000000,0.000000,0.000000
6,1980-12-22,29.625000,29.750000,29.625000,29.625000,9340800,0.437934,0.000000,0.000000,0.000000,0.000000
7,1980-12-23,30.874999,30.999999,30.874999,30.874999,11737600,0.456413,0.000000,0.000000,0.000000,0.000000
8,1980-12-24,32.500000,32.624999,32.500000,32.500000,12000800,0.480434,0.000000,0.000000,0.000000,0.000000
9,1980-12-26,35.500001,35.625001,35.500001,35.500001,13893600,0.524782,0.602909,115.725489,0.677632,112.616838
10,1980-12-29,36.000000,36.124999,36.000000,36.000000,23290400,0.532174,0.462633,120.045095,0.619529,114.778042
11,1980-12-30,35.249999,35.249999,35.125000,35.125000,17220000,0.519239,0.362929,123.315977,0.516770,118.013307
12,1980-12-31,34.250000,34.250000,34.125000,34.125000,8937600,0.504456,0.272490,126.354180,0.429095,120.902241
13,1981-01-02,34.499999,34.750001,34.499999,34.499999,5415200,0.510000,0.251707,127.135722,0.338642,123.973178
14,1981-01-05,33.875001,33.875001,33.750001,33.750001,8932000,0.498913,0.193142,129.387471,0.340008,124.027490
15,1981-01-06,32.375000,32.375000,32.250000,32.250000,11289600,0.476739,-0.035484,137.394066,0.173241,129.966773
16,1981-01-07,30.999999,30.999999,30.874999,30.874999,13921600,0.456413,-0.001231,136.179306,-0.069779,138.343462
17,1981-01-08,30.375001,30.375001,30.250001,30.250001,9956800,0.447174,0.225218,128.372000,0.006803,135.699679
18,1981-01-09,31.874999,32.000001,31.874999,31.874999,5376000,0.471195,0.319368,124.999134,0.121897,131.620468
19,1981-01-12,31.874999,31.874999,31.625000,31.625000,5924800,0.467500,0.368983,123.178736,0.206135,128.633196
20,1981-01-13,30.625000,30.625000,30.500000,30.500000,5762400,0.450869,0.629617,114.740313,0.244773,127.179402
21,1981-01-14,30.625000,30.750000,30.625000,30.625000,3572800,0.452717,0.873622,107.020322,0.447902,120.590561
22,1981-01-15,31.250001,31.500000,31.250001,31.250001,3516800,0.461956,1.018467,102.518674,0.567219,116.740151
23,1981-01-16,31.125001,31.125001,30.999999,30.999999,3348800,0.458261,1.410476,90.409048,0.739621,111.346924
24,1981-01-19,32.875001,33.000001,32.875001,32.875001,10393600,0.485978,0.828619,108.391856,0.548543,117.263761
25,1981-01-20,32.000001,32.000001,31.874999,31.874999,7520800,0.471195,-0.015581,134.178299,-0.047695,135.623822
26,1981-01-21,32.500000,32.749999,32.500000,32.500000,3976000,0.480434,-0.262831,141.581753,-0.270840,142.225839
27,1981-01-22,32.875001,33.125000,32.875001,32.875001,8887200,0.485978,-0.851694,160.037691,-0.378254,145.333306
28,1981-01-23,32.875001,33.000001,32.749999,32.749999,2805600,0.484130,-1.096102,167.556352,-0.734867,156.453710
29,1981-01-26,32.375000,32.375000,32.250000,32.250000,6160000,0.476739,-1.198070,170.504536,-0.878397,160.745840
...,...,...,...,...,...,...,...,...,...,...,...
9111,2017-01-31,121.150002,121.389999,120.620003,121.349998,49201000,120.826147,11.642928,873.037655,11.596758,881.089267
9112,2017-02-01,127.029999,130.490005,127.010002,128.750000,111985000,128.194203,1.251145,2128.627324,2.449945,1983.852351
9113,2017-02-02,127.980003,129.389999,127.779999,128.529999,33710400,127.975152,0.294377,2246.556085,0.735989,2191.558105
9114,2017-02-03,128.309998,129.190002,128.160004,129.080002,24507300,128.522781,0.572523,2214.544241,0.627913,2206.122111
9115,2017-02-06,129.130005,130.500000,128.899994,130.289993,26845900,129.727549,0.158967,2268.198686,0.511659,2222.594772
9116,2017-02-07,130.539993,132.089996,130.449997,131.529999,38183800,130.962201,0.047792,2283.289855,0.169119,2267.624954
9117,2017-02-08,131.350006,132.220001,131.220001,132.039993,23004100,131.469994,0.451859,2231.672412,0.191761,2264.653691
9118,2017-02-09,131.649994,132.449997,131.119995,132.419998,28349900,132.419998,1.211181,2135.309142,0.762443,2191.780713
9119,2017-02-10,132.460007,132.940002,132.050003,132.119995,20065500,132.119995,2.196812,2009.294779,1.891016,2047.801785
9120,2017-02-13,133.080002,133.820007,132.750000,133.289993,23035400,133.289993,3.356260,1860.809625,3.386684,1855.733121
9121,2017-02-14,133.470001,135.089996,133.250000,135.020004,32815500,135.020004,8.176562,1229.153197,6.170566,1493.474158
9122,2017-02-15,135.520004,136.270004,134.619995,135.509995,35501600,135.509995,8.923136,1132.060825,7.319842,1342.278119
9123,2017-02-16,135.669998,135.899994,134.839996,135.350006,22118000,135.350006,9.587602,1044.460842,8.079549,1243.573203
9124,2017-02-17,135.100006,135.830002,135.100006,135.720001,22084500,135.720001,11.906598,734.279305,9.349292,1074.916023
9125,2017-02-21,136.229996,136.750000,135.979996,136.699997,24265100,136.699997,13.008930,586.249738,11.252891,820.197245
9126,2017-02-22,136.429993,137.119995,136.110001,137.110001,20745300,137.110001,12.059992,713.623372,12.374163,669.735177
9127,2017-02-23,137.380005,137.479996,136.300003,136.529999,20704100,136.529999,11.086410,846.533664,11.628518,770.506269
9128,2017-02-24,135.910004,136.660004,135.279999,136.660004,21690900,136.660004,10.527539,923.451696,11.084278,844.995929
9129,2017-02-27,137.139999,137.440002,136.279999,136.929993,20196400,136.929993,11.473788,795.172752,10.929608,866.076607
9130,2017-02-28,137.080002,137.440002,136.699997,136.990005,23403500,136.990005,13.083336,575.162225,11.358816,807.771585
9131,2017-03-01,137.889999,140.149994,137.600006,139.789993,36272400,139.789993,10.819780,884.253245,13.460079,521.466066
9132,2017-03-02,140.000000,140.279999,138.759995,138.960007,26153300,138.960007,10.032198,991.744418,10.669395,903.350237
9133,2017-03-03,138.779999,139.830002,138.589996,139.779999,21108100,139.779999,8.439390,1209.928334,10.299478,953.910347
9134,2017-03-06,139.369995,139.770004,138.600006,139.339996,21155300,139.339996,7.047734,1401.168434,8.496674,1200.838175
9135,2017-03-07,139.059998,139.979996,138.789993,139.520004,17267500,139.520004,5.901087,1557.903858,7.320806,1362.173505
9136,2017-03-08,138.949997,139.800003,138.820007,139.000000,18681800,139.000000,5.031013,1677.179407,6.818738,1430.562408
9137,2017-03-09,138.740005,138.789993,137.050003,138.679993,22065200,138.679993,4.908720,1693.149164,6.416043,1484.923524
9138,2017-03-10,139.250000,139.360001,138.639999,139.139999,19488000,139.139999,5.534903,1605.535450,5.585230,1599.631888
9139,2017-03-13,138.850006,139.429993,138.820007,139.199997,17042400,139.199997,7.754902,1295.984384,5.450722,1617.979183
9140,2017-03-14,139.300003,139.649994,138.839996,138.990005,15189700,138.990005,19.401161,-327.010664,5.198023,1652.146035

In [ ]:
"""
1980-12-26     0.602909
1980-12-29     0.462633
1980-12-30     0.362929
1980-12-31     0.272490
1981-01-02     0.251707
1981-01-05     0.193142
"""

In [ ]:
_i = 10

s = joined_df.iloc[ 0:10, :]["Close_x"]
m = joined_df.iloc[ 0:10, :]["Close_y"]

slope, intercept, r_value, p_value, std_err = stats.linregress(s.values,m.values)
slope

In [ ]:
tier1_df = calc_measures_tier1(aapl)
tier1_df

In [202]:
tier1_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9141 entries, 0 to 9140
Columns: 159 entries, Date to timewindow_alpha_20_Low
dtypes: float64(157), int64(1), object(1)
memory usage: 11.2+ MB

In [ ]:
store_tier1_frame(tier1_df, "AAPL")

In [ ]:
load_tier1_frame("AAPL")

In [ ]:
tier1_df = calc_measures_tier1(aapl, verbose=True)

In [ ]:
%%timeit
tier1_df = calc_measures_tier1(aapl, verbose=True)

In [ ]:
aapl.head()

In [ ]:
timewindow_alpha(aapl, sp500, ["Close","Volume","Low"], 10)

In [ ]:
timewindow_beta(aapl, sp500, ["Close","Volume","Low"], 10)

In [ ]:
timewindow_alphabeta(aapl, sp500, ["Close","Volume","Low"], 10)

In [ ]:
ticker_list = pd.read_csv("RES_initial_dataload.csv")
ticker_list = ticker_list[ticker_list["STATUS"] == "OK"].iloc[0]
ticker_list

for ix, row in ticker_list.iterrows():
    itr_ticker = row["Symbol"]
    print("\n\n - {} - \n".format(itr_ticker)
    itr_df = load_raw_frame("AAPL")
    tier1_df = calc_measures_tier1(itr_df, verbose=True)
    store_tier1_frame(tier1_df, itr_ticker)

In [ ]:
aapl = load_raw_frame("AAPL")
tier1_df = calc_measures_tier1(aapl, verbose=True)
store_tier1_frame(tier1_df, "APPL")

In [ ]:
tier1_df.head()

In [ ]:
# Open Close Diff             |   Open(t) - Close(t -1)
# Open Close Return           |   (Close(t -1) / Open(t)) - 1
# Open Close Return MA        |   SMA(Open Close Return)
# Open Close Return Bollinger |   Bollinger(Open Close Return)

In [ ]:
aapl.head()

In [ ]:
# Open Close Diff

aftermarketreturn = (aapl["Open"] - aapl["Close"].shift(1))
aftermarketreturn.head()

In [ ]:
# Open Close Return

aftermarketdiff = (aapl["Open"] / aapl["Close"].shift(1)) - 1
aftermarketdiff.head()

In [199]:
calc_aftermarket_bollinger??

In [ ]:
# Open Close Diff             |   Open(t) - Close(t -1)
calc_aftermarket_diff(aapl).head()

In [ ]:
# Open Close Return           |   (Close(t -1) / Open(t)) - 1
calc_aftermarket_return(aapl).head()

In [ ]:
not "D" in aapl.columns

In [ ]:
# Open Close Return MA        |   SMA(Open Close Return)
calc_aftermarket_sma(aapl, timespan)

In [ ]:
# Open Close Return Bollinger |   Bollinger(Open Close Return)
calc_aftermarket_bollinger(aapl, timespan)

In [ ]:
aapl_t1 = load_tier1_frame("AAPL")

In [ ]:
aapl_t1.columns.tolist()

In [ ]:
returns_cols = [x for x in aapl_t1.columns.tolist() if "timewindow_return_" in x]
returns_cols

In [ ]:
returns_cols_disc = ["discrete_{}".format(x) for x in returns_cols]

In [ ]:
data = np.random.random(100)
digitized = np.digitize(data, bins)
bin_means = [data[digitized == i].mean() for i in range(1, len(bins))]

In [ ]:
x = np.array(np.linspace(0, 0.9, 10))
bins = np.array([-2.0, -1.0, -0.8, -0.5, -0.3, -0.1, -0.05, 0.01, 0.05, 0.07, 0.1, 0.2, 0.4, 1.0])
inds = np.digitize(x, bins)


for n in range(x.size):
    print(bins[inds[n]-1], "<=", x[n], "<", bins[inds[n]])

In [ ]:
x = np.array(np.linspace(0, 0.9, 10))
bins = np.array([0.0, 0.01, 0.05, 0.07, 0.1, 0.2, 0.4, 1.0])
inds = np.digitize(x, bins)


for n in range(x.size):
    print(bins[inds[n]-1], "<=", x[n], "<", bins[inds[n]])

In [ ]:
x = np.array(np.linspace(-1.9, 0.0, 10))
bins = np.array([-2.0, -1.0, -0.8, -0.5, -0.3, -0.1, -0.05, 0.0, 0.001])
inds = np.digitize(x, bins)


for n in range(x.size):
    print(bins[inds[n]-1], "<=", x[n], "<", bins[inds[n]])

In [ ]:
x = np.array(np.linspace(-2.1, 1.0, 10))
bins = np.array([-2.0, -1.0, -0.8, -0.5, -0.3, -0.1, -0.05, 0.01, 0.05, 0.07, 0.1, 0.2, 0.4, 1.0])
inds = np.digitize(x, bins)
inds

In [ ]:
np.clip(inds, 0, bins.shape[0] - 1)

In [ ]:
x = aapl_t1.loc[ : , returns_cols].fillna(0).values
bins = np.array([-2.0, -1.0, -0.8, -0.5, -0.3, -0.1, -0.05, 0.01, 0.05, 0.07, 0.1, 0.2, 0.4, 1.0])
inds = np.digitize(x, bins, right=False)
inds = np.clip(inds, 0, bins.shape[0] - 1)

discretized_df = pd.DataFrame(inds, columns=returns_cols_disc)
discretized_df.head()

In [ ]:
pd.DataFrame(bins, columns=["Values"])

In [ ]:
loss_bins = np.array([-2.0, -1.0, -0.5, 0.0])
gain_bins = np.array([0.0, 0.05, 1.0, 2.0])

In [ ]:
loss_bins

In [ ]:
gain_bins

In [ ]:
x = np.linspace(-2.5, 2.5, 7)
x

In [ ]:
inds_loss = np.digitize(x, loss_bins, right=False)
inds_loss = np.clip(inds_loss, 0, loss_bins.shape[0] - 1)
inds_loss

In [ ]:
inds_gain = np.digitize(x, gain_bins)
inds_gain = np.clip(inds_gain, 0, gain_bins.shape[0] - 1)
inds_gain

In [ ]:
bins = np.array([-2.0, -1.0, -0.8, -0.5, -0.3, -0.1, -0.05, 0.0, 0.01, 0.05, 0.07, 0.1, 0.2, 0.4, 1.0])

In [ ]:
def discretize(bins, return_index, v):
    _r = None
    if v <= 0:
        inds_gain = np.digitize(v, bins, right=True)
        inds_gain = np.clip(inds_gain, 0, bins.shape[0] - 1)

        _r = inds_gain
    else:
        inds_gain = np.digitize(v, bins, right=False) - 1
        inds_gain = np.clip(inds_gain, 0, bins.shape[0] - 1)

        _r = inds_gain
    
    if not ( return_index ):
        _r = bins[_r]
    
    return _r

_bins = np.array([-2.0, -1.0, -0.8, -0.5, -0.3, -0.1, -0.05, 0.0, 0.01, 0.05, 0.07, 0.1, 0.2, 0.4, 1.0])
_disc = partial(discretize, _bins, False)

_real = [-3, -2, -1, -0.7, -0.5, 0, 0.005, 0.01, 0.012, 0.04, 0.05, 0.06, 0.08, 0.1, 0.15, 0.2, 0.3, 0.4, 0.9, 1, 1.2, 40]
_discrete = pd.DataFrame(_real, index=_real).applymap(_disc)

In [ ]:
x = aapl_t1.loc[ : , returns_cols].fillna(0)

discretize_df = x.applymap(discretize)
discretized_df = pd.DataFrame(discretize_df, columns=returns_cols_disc)
discretized_df

In [208]:
tier1_df = calc_measures_tier1(aapl)
print(tier1_df.columns.shape)
tier1_df = calc_measures_tier2(tier1_df)
print(tier1_df.columns.shape)

| | START     - 2017-03-15 16:15:44.192986
\ / SMA       - 0:00:00.086125
\ / RETURNS   - 0:00:00.092693
\ / DIFF MOVE - 0:00:00.096596
\ / BOLLINGER - 0:00:00.117711

/opt/conda/lib/python3.5/site-packages/scipy/stats/_stats_mstats_common.py:95: RuntimeWarning: invalid value encountered in double_scalars
  slope = r_num / ssxm
/opt/conda/lib/python3.5/site-packages/scipy/stats/_stats_mstats_common.py:97: RuntimeWarning: divide by zero encountered in double_scalars
  sterrest = np.sqrt((1 - r**2) * ssym / ssxm / df)

\ / ALPHABETA - 0:02:26.536868
 V  END       - 2017-03-15 16:18:11.122979 (TOOK 0:02:26.929993)
(161,)
| | START     - 2017-03-15 16:18:11.123713
\ / AM DIFF       - 0:00:00.001957
\ / AM RETURNS   - 0:00:00.001845
\ / AM SMA - 0:00:00.047715
\ / AM BOLLINGER - 0:00:00.065953
 V  END       - 2017-03-15 16:18:11.241268 (TOOK 0:00:00.117555)
(184,)

In [31]:
aapl = load_raw_frame("AAPL")
aapl["Date"].head()

0   1980-12-12
1   1980-12-15
2   1980-12-16
3   1980-12-17
4   1980-12-18
Name: Date, dtype: datetime64[ns]

In [44]:
from dateutil import parser as dtparser

In [50]:
(aapl["Date"] > dtparser.parse("12-12-1980")) & (aapl["Date"] <= dtparser.parse("16-12-1980"))

0       False
1        True
2        True
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9112    False
9113    False
9114    False
9115    False
9116    False
9117    False
9118    False
9119    False
9120    False
9121    False
9122    False
9123    False
9124    False
9125    False
9126    False
9127    False
9128    False
9129    False
9130    False
9131    False
9132    False
9133    False
9134    False
9135    False
9136    False
9137    False
9138    False
9139    False
9140    False
9141    False
Name: Date, dtype: bool